*.pyc
*.log
*.pid
Vagrantfile
*.DS_Store
.idea
.vagrant
opendims/static/*
opendims/components/*
opendims/uploaded/*
opendims/opendims/settings/local_settings.py
opendims/opendims/settings/production.py