from defaults import *

# Production environment settings overriding defaults

SECRET_KEY = 'b^v8b0^!b-3_1jxk2s96#9_v8^=!75n_56kq#%j0y406x*e30-'

DEBUG = True

ALLOWED_HOSTS = []

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'opendims',
        'USER': 'opendims',
        'PASSWORD': 'password',
        'HOST': 'localhost',
        'PORT': '',
    }
}
