{% load i18n verbose_names staticfiles screamshot absoluteuri common_filters %}
<html>
<head>
<style>
@page {
size:a4 ;
margin-top: 3cm;
margin-left: 3cm;
margin-right: 2cm;
margin-bottom: 2cm;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 5px;
    text-align: center;
    table-layout: fixed;
    text-align: center;
}
.col-count {
    width: 40px;
}
</style>
</head>
<body>

{% if events %}
<div class="page-header">
    <h2>{% trans "Events" %}</h2>
</div>

{% absoluteuri  'reports:event_map_pdf' as event_map_pdf_url %}
      {{ event_map_pdf_url }}
<img src="data:{% base64capture event_map_pdf_url '#leaflet_map' wait=0 %}">

<table style="width=100%">
    <thead>
        <tr>
            {% for event in events|slice:'1' %}
            <th class="col-count">{% trans 'No.' %}</th>
            <th class="col-md-2">{% get_verbose_field_name event 'disaster' %}</th>
            <th>{% get_verbose_field_name event 'subdistrict' %}</th>
            <th>{% get_verbose_field_name event 'village' %}</th>
            <th>{% get_verbose_field_name event 'rw' %}</th>
            <th>{% get_verbose_field_name event 'rt' %}</th>
            <th>{% get_verbose_field_name event 'note' %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        {% absoluteuri  'reports:event_map' pk=event.pk as event_map_url %}
        <tr>
            <td class="col-count">{{ forloop.counter }}</a></td>
            <td>{{ event.disaster.note }}</a></td>
            <td>{{ event.subdistrict }}</td>
            <td>{{ event.village }}</td>
            <td>{{ event.rw }}</td>
            <td>{{ event.rt }}</td>
            <td>{{ event.note }}</td>
        </tr>
        <td colspan="7"><img src="data:{% base64capture event_map_url '#leaflet_map' wait=0 %}"></td>
        {% endfor %}
    </tbody>
</table>

<h3>{% trans "Reports" %}</h3>

{% for event in events %}
<table style="width=100%">
    <thead>
        <tr>
            {% for report in event.reports.all|slice:'1' %}
            {% if events %}<th class="col-count">{% trans 'No.' %}</th>{% endif %}
            <th class="col-md-2">{% get_verbose_field_name report 'event' %}</th>
            <th>{% get_verbose_field_name report 'source' %}</th>
            <th>{% get_verbose_field_name report 'status' %}</th>
            <th>{% get_verbose_field_name report 'note' %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for report in event.reports.all %}
        <tr>
            <td class="col-count">{{ forloop.counter }}</a></td>
            <td>{{ report.event }}</td>
            <td>{{ report.source.note }}</td>
            <td>{{ report.status }}</td>
            <td>{{ report.note }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br></br>
{% endfor %}

<h3>{% trans "Event Impacts" %}</h3>

{% for event in events %}
{% absoluteuri  'reports:eventimpact_map' pk=event.pk as eventimpact_map_url %}
<table style="width=100%">
    <thead>
        <tr>
            {% for eventimpact in event.eventimpacts.all|slice:'1' %}
            {% if events %}<th class="col-count">{% trans 'No.' %}</th>{% endif %}
            <th>{% get_verbose_field_name eventimpact 'village' %}</th>
            <th>{% get_verbose_field_name eventimpact 'rw' %}</th>
            <th>{% get_verbose_field_name eventimpact 'rt' %}</th>
            <th>{% get_verbose_field_name eventimpact 'evac_total' %}</th>
            <th>{% get_verbose_field_name eventimpact 'affected_total' %}</th>
            <th>{% get_verbose_field_name eventimpact 'affected_death' %}</th>
            <th>{% get_verbose_field_name eventimpact 'affected_injury' %}</th>
            <th>{% get_verbose_field_name eventimpact 'loss_total' %}</th>
            <th>{% get_verbose_field_name eventimpact 'note' %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for eventimpact in event.eventimpacts.all %}
        <tr>
            <td class="col-count">{{ forloop.counter }}</a></td>
            <td>{{ eventimpact.village }}</td>
            <td>{{ eventimpact.rw }}</td>
            <td>{{ eventimpact.rt }}</td>
            <td>{{ eventimpact.evac_total }}</td>
            <td>{{ eventimpact.affected_total }}</td>
            <td>{{ eventimpact.affected_death }}</td>
            <td>{{ eventimpact.affected_injury }}</td>
            <td>{{ eventimpact.loss_total }}</td>
            <td>{{ eventimpact.note }}</td>
        </tr>
        {% endfor %}
        <td colspan="10"><img src="data:{% base64capture eventimpact_map_url '#leaflet_map' wait=0 %}"></td>
    </tbody>
</table>
<br></br>
{% endfor %}

<h3>{% trans "Event images" %}</h3>

{% for event in events %}
<table style="width=100%">
    <thead>
        <tr>
            {% for eventimage in event.eventimages.all|slice:'1' %}
            {% if events %}<th class="col-count">{% trans 'No.' %}</th>{% endif %}
            <th>{% get_verbose_field_name eventimage 'title' %}</th>
            <th>{% get_verbose_field_name eventimage 'image' %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for eventimage in event.eventimages.all %}
        <tr>
            <td class="col-count">{{ forloop.counter }}</a></td>
            <td>{{ eventimage.title }}</td>
            <td><img src="{{ get.absolute.url }}{{ eventimage.image.url|slice:'1:' }}"  width="100"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br></br>
{% endfor %}
</body>
{% endif %}
</html>
