
{% load staticfiles i18n active_url waterlevel_tags common_tags common_filters %}
<html>

<body>
<table class="col-tb-th-td">
    <thead>
        <tr>
            <th class="col-th-td col-th">{% trans 'No.' %}</th>
            <th class="col-th-td col-th">{% trans "Water Gate" %}</th>
            <th class="col-th-td col-th">{% trans "Created" %}</th>
            <th class="col-th-td col-th">{% trans "Height" %}</th>
            <th class="col-th-td col-th">{% trans "Weather" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for waterlevel in waterlevels %}
        <tr>
            <td class="col-th-td col-td">{{ forloop.counter }}</td>
            <td class="col-th-td col-td">{{ waterlevel.watergate.name }}</td>
            <td class="col-th-td col-td">{{ waterlevel.created }}</td>
            <td class="col-th-td col-td">{{ waterlevel.height }}</td>
            <td class="col-th-td col-td">{{ waterlevel.weather }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
