{% load staticfiles i18n verbose_names %}
<html>
<body>
    <table class="col-tb-th-td">
        <thead>
            <tr>
                <th class="col-th-td col-th">{% trans "No." %}</th>
                <th class="col-th-td col-th">{% trans "Area" %}</th>
                <th class="col-th-td col-th">{% trans "Morning" %}</th>
                <th class="col-th-td col-th">{% trans "Noon" %}</th>
                <th class="col-th-td col-th">{% trans "Night" %}</th>
                <th class="col-th-td col-th">{% trans "Humidity" %}</th>
                <th class="col-th-td col-th">{% trans "Temperature" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for weatherforecast in weatherforecasts %}
            <tr>
                <td class="col-th-td col-td">{{ forloop.counter }}</td>
                <td class="col-th-td col-td">{{ weatherforecast.city }}</td>
                <td class="col-th-td col-td">{{ weatherforecast.forecast_morning }}</td>
                <td class="col-th-td col-td">{{ weatherforecast.forecast_noon }}</td>
                <td class="col-th-td col-td">{{ weatherforecast.forecast_night }}</td>                    
                <td class="col-th-td col-td">{{ weatherforecast.humidity_min }} - {{weatherforecast.humidity_max}}</td>
                <td class="col-th-td col-td">{{ weatherforecast.temperature_min }} - {{weatherforecast.temperature_max}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
