{% load staticfiles i18n verbose_names %}

<html>
<head>
<style>
@page {
size:a4 ;
margin-top: 3cm;
margin-left: 3cm;
margin-right: 2cm;
margin-bottom: 2cm;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 5px;
    text-align: center;
    table-layout: fixed;
}
.col-count {
    width: 40px;
}
</style>
</head>
    <body>
        <h3>{% trans "Weather forecast" %}</h3>

        <table style="width=100%">
            <thead>
                <tr>
                    <th class="col-count">{% trans "No." %}</th>
                    <th>{% trans "Area" %}</th>
                    <th>{% trans "Morning" %}</th>
                    <th>{% trans "Noon" %}</th>
                    <th>{% trans "Night" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for weatherforecast in weatherforecasts %}
                <tr>
                    <td class="col-count">{{ forloop.counter }}</td>
                    <td>{{ weatherforecast.city }}</td>
                    <td>{{ weatherforecast.forecast_morning }}</td>
                    <td>{{ weatherforecast.forecast_noon }}</td>
                    <td>{{ weatherforecast.forecast_night }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
