<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <a href="#">Welcome to {{ SITE_NAME }}!</a>
                    <p class="lead">Open Disaster Information Management System</p>
                </h1>
            </div>
            <div class="col-md-6">
                <div class="well pull-right">
                    <img src="//placehold.it/400x80/E7E7E7">
                </div>
            </div>
        </div>
    </div>
</header>
