{% extends "opendims/base.html" %}

{% load i18n staticfiles %}

{% block opendims_title %} - {% trans "Account Activated" %}{% endblock %}

{% block opendims_content %}

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">{% trans "Account Activated" %}</div>
        <div class="panel-body">
            <p>
                {% trans "Your account is now activated." %}
                {% if not user.is_authenticated %}
                {% trans "You can login." %}
                {% endif %}
            </p>
        </div>
    </div>
</div>

{% endblock %}