{% extends "opendims/layouts/col_1.html" %}

{% load i18n staticfiles %}

{% block title %}{{ block.super }} - {% trans "Logged Out" %}{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans "Logged Out" %}</div>
            <div class="panel-body">
                <p>{% trans "Successfully logged out" %}.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
