{% extends "opendims/layouts/col_1.html" %}

{% load i18n staticfiles %}

{% block title %}{{ block.super }} - {% trans "Password Reset Complete" %}{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans "Password Reset Complete" %}</div>
            <div class="panel-body">
                <p>
                    {% blocktrans %}
                    We have sent you an email with a link to reset your password. Please check
                    your email and click the link to continue.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
