{% extends "opendims/base.html" %}

{% load i18n staticfiles crispy_forms_tags %}

{% block opendims_title %} - {% trans "Confirm Password Reset" %}{% endblock %}

{% block opendims_content %}

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">{% trans "Confirm Password Reset" %}</div>
        <div class="panel-body">
            <p>{% trans "Enter your new password below to reset your password:" %}</p>
            <form method="post" action="">
                {{ form|crispy }}
                {% csrf_token %}
                <button class="btn btn-primary btn-block" type="submit">{% trans "Reset Password" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}