{% extends "opendims/base.html" %}

{% load i18n staticfiles %}

{% block opendims_title %} - {% trans "Password Reset Complete" %}{% endblock %}

{% block opendims_content %}

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">{% trans "Password Reset Complete" %}</div>
        <div class="panel-body">
            <p>
                {% trans "Your password has been reset!" %}
                {% blocktrans %}You may now <a href="{{ login_url }}">login</a>{% endblocktrans %}.
            </p>
        </div>
    </div>
</div>

{% endblock %}