{% extends "opendims/page_full.html" %}

{% load staticfiles i18n %}

{% block title %}{{ block.super }} - {% trans "Registration Complete" %}{% endblock %}

{% block crumbs %}
<h6 class="page-active">{% trans "Registration Complete" %}</h6>
{% endblock %}

{% block page_content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>{% trans "Please check your email to complete the registration process." %}</p>
        </div>
    </div>
</div>
{% endblock %}
