{% load staticfiles i18n  common_filters cropping website_tags %}

{% get_partners as partners %}

<div class="row">
    <div class="col-md-12">
        <div class="widget-main block-partners">
            <div class="widget-main-title">
                <h4 class="widget-title">{% trans "Partners" %}</h4>
            </div> <!-- /.widget-main-title -->
            <div class="widget-inner">
                <div class="our-campus clearfix">
                    {% if partners %}
                    <ul>
                        {% for partner in partners %}
                        <li><a href="{% if partner.url %}{{ partner.url }}{% else %}#{% endif %}" target="_blank"><img src="{% cropped_thumbnail partner 'logo_crop' %}"></a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div> <!-- /.widget-main -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->
