{% load staticfiles i18n %}

<div class="widget-main">
    <div class="widget-main-title">
        <h4 class="widget-title">Early Warning</h4>
    </div>
    <div class="widget-inner">
        <div id="slider-testimonials">
            <ul>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum <strong class="dark-text">1 April 2016</strong></p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum <strong class="dark-text">1 April 2016</strong></p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum <strong class="dark-text">1 April 2016</strong></p>
                </li>
            </ul>
            <a class="prev fa fa-angle-left" href=""></a>
            <a class="next fa fa-angle-right" href=""></a>
        </div>
    </div> <!-- /.widget-inner -->
</div> <!-- /.widget-main -->
