{% load staticfiles i18n %}

<!-- begin The Footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Contact Us</h4>
                    <p>Lorem ipsum dolor sit amet. <br><br>Mailing address:<br>Jl. Kebon Sirih<br> Jakarta Pusat, DKI Jakarta</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Links</h4>
                    <ul class="list-links">
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Dolor Sit</a></li>
                        <li><a href="#">Amet Constectuer</a></li>
                        <li><a href="#">Sed Do Eiusmod</a></li>
                        <li><a href="#">Tempor Incididunt</a></li>
                        <li><a href="#">Ut Labore Magna</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Resources</h4>
                    <ul class="list-links">
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Dolor Sit</a></li>
                        <li><a href="#">Amet Constectuer</a></li>
                        <li><a href="#">Sed Do Eiusmod</a></li>
                        <li><a href="#">Tempor Incididunt</a></li>
                        <li><a href="#">Ut Labore Magna</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Partners</h4>
                    <ul class="list-links">
                        <li><a href="#">BNPB</a></li>
                        <li><a href="#">BMKG</a></li>
                        <li><a href="#">Dinas PMK</a></li>
                        <li><a href="#">Dinas PU</a></li>
                        <li><a href="#">Peta Jakarta</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <ul class="footer-media-icons">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-youtube"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-apple"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="bottom-footer">
            <div class="row">
                <div class="col-md-5">
                    <p class="small-text">&copy; Copyright 2016. <a href="#">BPBD Provinsi DKI Jakarta</a></p>
                </div> <!-- /.col-md-5 -->
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="courses.html">Events</a></li>
                        <li><a href="events-list.html">Maps</a></li>
                        <li><a href="blog.html">Water Level</a></li>
                        <li><a href="shortcodes.html">E-Library</a></li>
                        <li><a href="contact.html">Gallery</a></li>
                    </ul>
                </div> <!-- /.col-md-7 -->
            </div> <!-- /.row -->
        </div> <!-- /.bottom-footer -->

    </div> <!-- /.container -->
</footer> <!-- /.site-footer -->
