{% load staticfiles i18n verbose_names website_tags cropping %}

<div class="main-slideshow">
{% get_latest_slideshow as posts %} 
    <div class="flexslider">
        <ul class="slides">
        {% for post in posts %}
          {% if post.slideshow_image %}
            <li>
                <img src="{% cropped_thumbnail post "slideshow_image_crop" %}">
                <div class="slider-caption">
                    <h2><a href="blog-single.html">{{ post.title }}</a></h2>
                    <p>{{ post.content|striptags|truncatewords:35 }}</p>
                </div>
            </li>
          {% else %}
            <li>
                <img src="{% static 'img/opendims/default-image.jpg' %}">
                <div class="slider-caption">
                    <h2><a href="blog-single.html">{{ post.title }}</a></h2>
                    <p>{{ post.content|striptags|truncatewords:35 }}</p>
                </div>
            </li>
          {% endif %}
      {% endfor %}
        </ul> <!-- /.slides -->
    </div> <!-- /.flexslider -->    
</div> <!-- /.main-slideshow -->