{% load staticfiles i18n reports_tags common_tags %}
{% now "Y" as current_year %}
{% now "n" as current_month %}
{% now "M" as name_month %}

<div class="widget-main block-waterlevel">
    <div class="widget-main-title text-center va-middle">
        <h4 class="widget-title">{% trans "Disaster Statistics" %} - {{ name_month }} {{ current_year }} </h4>
    </div> <!-- /.widget-main-title -->
    <div class="widget-inner">
        <table class="table table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center va-middle">{% trans "Disaster Note" %}</th>
                    <th class="text-center va-middle">{% trans "Disaster" %} </th>
                    <th class="text-center va-middle">{% trans "Evacuated Total" %}</th>
                    <th class="text-center va-middle">{% trans "Affected Total" %}</th>
                    <th class="text-center va-middle">{% trans "Affected Death" %}</th>
                    <th class="text-center va-middle">{% trans "Affected Injury" %}</th>
                    <th class="text-center va-middle">{% trans "Loss Total" %}</th>
                </tr>
            </thead>
            {% to_list 'BJR' 'CEK' 'KBK' 'SOS' as disasters %} <!-- please see common_tags file for further information -->
            {% for disaster in disasters %}
            <tbody>
                {% get_event_statistics disaster current_month current_year as disaster_statistics %}
                {% if disaster_statistics %}
                {% get_eventimpact_total disaster_statistics as eventimpact_total %}
                <td>{{ disaster_statistics.first.disaster.note }}</td>
                <td class="text-center va-middle">{{ disaster_statistics|length }}</td>
                <td class="text-center va-middle">{{ eventimpact_total.evac_total }}</td>
                <td class="text-center va-middle">{{ eventimpact_total.affected_total }}</td>
                <td class="text-center va-middle">{{ eventimpact_total.affected_death }}</td>
                <td class="text-center va-middle">{{ eventimpact_total.affected_injury }}</td>
                <td class="text-center va-middle">{{ eventimpact_total.loss_total }}</td>
                {% endif %}
            </tbody>
            {% endfor %}
        </table>
    </div> <!-- /.widget-inner -->
    <div class="widget-footer">
        <div class="text-right">
            <a href="#">{% trans "More" %}</a>
        </div>
    </div> <!-- /.widget-footer -->
</div> <!-- /.widget-main -->
