{% load staticfiles i18n %}

<div class="container">
    <div class="row">
        <!-- Here begin Main Content -->
        <div class="col-md-8">
            {% block content_lower_left %}
            {% include "opendims/includes/block_welcome.html" %}
            {% include "opendims/includes/block_statistics.html" %}
            {% include "opendims/includes/block_multi_content.html" %}
            {% include "opendims/includes/block_social.html" %}
            {% include "opendims/includes/block_partners.html" %}
            {% endblock content_lower_left %}
        </div> <!-- /.col-md-8 -->

        <!-- Here begin Sidebar -->
        <div class="col-md-4">
            {% block content_lower_right %}
            {% include "opendims/includes/block_earlywarning.html" %}
            {% include "opendims/includes/block_elibrary.html" %}
            {% include "opendims/includes/block_gallery.html" %}
            {% endblock content_lower_right %}
        </div>
    </div>
</div>
