{% load staticfiles i18n verbose_names earlywarning_tags %}


<div class="widget-main">
{% get_latest_earlywarningreports as earlywarningreports %} 
    <div class="widget-main-title">
        <h4 class="widget-title">Early Warning</h4>
    </div>
    <div class="widget-inner">
        <div id="slider-testimonials">
         {% for earlywarningreport in earlywarningreports %}
            <ul>
                <li>
                    <p>{{ earlywarningreport.content|striptags|truncatewords:35 }}<strong class="dark-text">{{ earlywarningreport.created.date }}</strong></p>
                </li>
            </ul>
         {% endfor %}
            <a class="prev fa fa-angle-left" href=""></a>
            <a class="next fa fa-angle-right" href=""></a>
        </div>
    </div> <!-- /.widget-inner -->
</div> <!-- /.widget-main -->
