{% load staticfiles i18n verbose_names earlywarning_tags %}

{% get_earlywarningreports as earlywarningreports %}

<div class="widget-main block-earlywarning">
    <div class="widget-main-title">
        <h4 class="widget-title">{% trans "Early Warning" %}</h4>
    </div>
    <div class="widget-inner">
        {%if earlywarningreports %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="ticker">
                            {% for earlywarningreport in earlywarningreports|slice:"5" %}
                            <li class="news-item">
                            {{ earlywarningreport.content|safe }}<p><strong class="dark-text">{{ earlywarningreport.created|date:"j F Y H:i T" }}</strong></p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
        {% endif %}
    </div> <!-- /.widget-inner -->
    <div class="widget-footer">
        <div class="text-right">
            <a href="{% url 'earlywarning:earlywarningreport_list' %}">{% trans "More" %}</a>
        </div>
    </div> <!-- /.widget-footer -->
</div> <!-- /.widget-main -->
