{% load staticfiles i18n %}

<div class="widget-main">
    <div class="widget-main-title">
        <h4 class="widget-title">Gallery</h4>
    </div>
    <div class="widget-inner">
        <div class="gallery-small-thumbs clearfix">
            <div class="thumb-small-gallery">
                <a class="fancybox" data-fancybox-group="gallery1" href="http://placehold.it/770x400" title="Gallery Tittle One">
                    <img src="http://placehold.it/70x70" alt="" />
                </a>
            </div>
            <div class="thumb-small-gallery">
                <a class="fancybox" data-fancybox-group="gallery1" href="http://placehold.it/770x400" title="Gallery Tittle Two">
                    <img src="http://placehold.it/70x70" alt="" />
                </a>
            </div>
            <div class="thumb-small-gallery">
                <a class="fancybox" data-fancybox-group="gallery1" href="http://placehold.it/770x400">
                    <img src="http://placehold.it/70x70" alt="" />
                </a>
            </div>
            <div class="thumb-small-gallery">
                <a class="fancybox" data-fancybox-group="gallery1" href="http://placehold.it/770x400">
                    <img src="http://placehold.it/70x70" alt="" />
                </a>
            </div>
            <div class="thumb-small-gallery">
                <a class="fancybox" data-fancybox-group="gallery1" href="http://placehold.it/770x400">
                    <img src="http://placehold.it/70x70" alt="" />
                </a>
            </div>
            <div class="thumb-small-gallery">
                <a class="fancybox" data-fancybox-group="gallery1" href="http://placehold.it/770x400">
                    <img src="http://placehold.it/70x70" alt="" />
                </a>
            </div>
            <div class="thumb-small-gallery">
                <a class="fancybox" data-fancybox-group="gallery1" href="http://placehold.it/770x400">
                    <img src="http://placehold.it/70x70" alt="" />
                </a>
            </div>
            <div class="thumb-small-gallery">
                <a class="fancybox" data-fancybox-group="gallery1" href="http://placehold.it/770x400">
                    <img src="http://placehold.it/70x70" alt="" />
                </a>
            </div>
        </div> <!-- /.galler-small-thumbs -->
    </div> <!-- /.widget-inner -->
</div> <!-- /.widget-main -->
