{% load staticfiles i18n reports_tags %}

{% now "Y" as current_year %}
{% now "n" as current_month %}
{% now "M" as name_month %}

<div class="widget-main block-statistics">
    <div class="widget-main-title">
        <h4 class="widget-title">{% trans "Disaster Statistics" %} ({{ name_month }} {{ current_year }})</h4>
    </div> <!-- /.widget-main-title -->
    <div class="widget-inner">
        <table class="table table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Disaster" %}</th>
                    <th class="text-center">{% trans "Count" %} </th>
                    <th class="text-center">{% trans "Total Evacuated" %}</th>
                    <th class="text-center">{% trans "Total Affected" %}</th>
                    <th class="text-center">{% trans "Total Death" %}</th>
                    <th class="text-center">{% trans "Total Injury" %}</th>
                    <th>{% trans "Total Loss" %} (IDR)</th>
                </tr>
            </thead>
            {% for disaster in DISASTER_STATISTICS %}
            <tbody>
                {% get_event_statistics disaster current_month current_year as disaster_statistics %}
                {% if disaster_statistics %}
                {% get_eventimpact_total disaster_statistics as eventimpact_total %}
                <td>{{ disaster_statistics.first.disaster.note }}</td>
                <td class="text-center">{{ disaster_statistics|length }}</td>
                <td class="text-center">{{ eventimpact_total.evac_total }}</td>
                <td class="text-center">{{ eventimpact_total.affected_total }}</td>
                <td class="text-center">{{ eventimpact_total.affected_death }}</td>
                <td class="text-center">{{ eventimpact_total.affected_injury }}</td>
                <td>{{ eventimpact_total.loss_total }}</td>
                {% endif %}
            </tbody>
            {% endfor %}
        </table>
    </div> <!-- /.widget-inner -->
    <div class="widget-footer">
        <div class="text-right">
            <!--
            <a href="#">{% trans "More" %}</a>
            -->
        </div>
    </div> <!-- /.widget-footer -->
</div> <!-- /.widget-main -->
