{% load staticfiles i18n waterlevel_tags %}

{% get_watergates as watergates %}
<div class="widget-main">
    <div class="widget-main-title">
        <h4 class="widget-title">{% trans "Water Level Information" %}</h4>
    </div> <!-- /.widget-main-title -->
    <div class="widget-inner">
        <table class="table table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center">{% trans "Water Gate" %}</th>
                    <th class="text-center">{% trans "Height" %} (cm)</th>
                    <th class="text-center">{% trans "Threshold Level" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for watergate in watergates|slice:"5" %}
                {% get_waterlevelreports_block watergate as waterlevelreports %}
                {% for waterlevelreport in waterlevelreports|slice:"1" %}
                <tr>
                    <td class="{{ waterlevelreport.get_threshold_level }}" title="{{ waterlevelreport.created|date:'j F Y H:i T' }}"><a href="{{ watergate.get_absolute_url }}">{{ watergate.name }}</a></td>
                    <td class="text-center {{ waterlevelreport.get_threshold_level }}" title="{{ waterlevelreport.created|date:'j F Y H:i T' }}">{{ waterlevelreport.height }}</td>
                    <td class="text-center {{ waterlevelreport.get_threshold_level }}" title="{{ waterlevelreport.created|date:'j F Y H:i T' }}">{{ waterlevelreport.get_threshold_level }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- /.widget-inner -->
    <div class="widget-footer">
        <div class="text-right">
            <a href="{% url 'waterlevel:watergate_list' %}">{% trans "More" %}</a>
        </div>
    </div> <!-- /.widget-footer -->
</div> <!-- /.widget-main -->
