{% load staticfiles i18n cropping website_tags %}

{% get_posts_by_category 'news' as posts %}

<div class="widget-main block-news">
    <div class="widget-main-title">
        <h4 class="widget-title">{% trans "Latest News" %}</h4>
    </div> <!-- /.widget-main-title -->
    <div class="widget-inner">
        {% for post in posts|slice:"3" %}
        <div class="blog-list-post clearfix">
            <div class="blog-list-thumb">
                <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                    {% if post.slideshow_image %}
                    <img src="{% cropped_thumbnail post "slideshow_image_thumb" %}" alt="{{ post.title }}"></a>
                    {% else %}
                    <img src="{% static 'img/opendims/default-thumb.jpg' %}" alt="{{ post.title }}">
                    {% endif %}
                </a>
            </div>
            <div class="blog-list-details">
                <h5 class="blog-list-title"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
                <p class="blog-list-meta small-text">{{ post.created|date:"j F Y H:i T" }}</p>
            </div>
        </div> <!-- /.blog-list-post -->
        {% endfor %}
    </div> <!-- /.widget-inner -->
    <div class="widget-footer">
        <div class="text-right">
            <a href="{% url 'website:post_list' 'news' %}">{% trans "More" %}</a>
        </div>
    </div> <!-- /.widget-footer -->
</div> <!-- /.widget-main -->
