{% load staticfiles i18n %}

<div class="widget-main">
    <div class="widget-main-title">
        <h4 class="widget-title">E-Library</h4>
    </div>
    <div class="widget-inner">
        <div class="prof-list-item clearfix">
           <div class="prof-thumb">
                <img src="http://placehold.it/75x75" alt="">
            </div> <!-- /.prof-thumb -->
            <div class="prof-details">
                <h5 class="prof-name-list">What to do in an Earthquake</h5>
                <p class="small-text">Sed ut lectus ac lacus molestie posuere non tincidunt arcu.</p>
            </div> <!-- /.prof-details -->
        </div> <!-- /.prof-list-item -->
        <div class="prof-list-item clearfix">
           <div class="prof-thumb">
                <img src="http://placehold.it/75x75" alt="">
            </div> <!-- /.prof-thumb -->
            <div class="prof-details">
                <h5 class="prof-name-list">What to do in an Earthquake</h5>
                <p class="small-text">Nullam sollicitudin libero ut ullamcorper pretium.</p>
            </div> <!-- /.prof-details -->
        </div> <!-- /.prof-list-item -->
        <div class="prof-list-item clearfix">
           <div class="prof-thumb">
                <img src="http://placehold.it/75x75" alt="">
            </div> <!-- /.prof-thumb -->
            <div class="prof-details">
                <h5 class="prof-name-list">What to do in an Earthquake</h5>
                <p class="small-text">Integer et nisl tincidunt, euismod orci eget, posuere nunc.</p>
            </div> <!-- /.prof-details -->
        </div> <!-- /.prof-list-item -->
    </div> <!-- /.widget-inner -->
</div> <!-- /.widget-main -->
