{% load staticfiles i18n %}

<div class="row">
    <div class="col-md-12">
        <div class="widget-main">
            <div class="widget-main-title">
                <h4 class="widget-title">Our Partners</h4>
            </div> <!-- /.widget-main-title -->
            <div class="widget-inner">
                <div class="our-campus clearfix">
                    <ul>
                        <li><img src="http://placehold.it/170x113" alt=""></li>
                        <li><img src="http://placehold.it/170x113" alt=""></li>
                        <li><img src="http://placehold.it/170x113" alt=""></li>
                        <li><img src="http://placehold.it/170x113" alt=""></li>
                    </ul>
                </div>
            </div>
        </div> <!-- /.widget-main -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->
