{% load staticfiles i18n common_tags website_tags %}

<!-- begin The Footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">{% trans "Contact Us" %}</h4>
                    <p>BPBD Provinsi DKI Jakarta<br>Jl. Kebon Sirih<br> Jakarta Pusat, DKI Jakarta</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">{% trans "Links" %}</h4>
                    {% get_links as links %}
                    {% if links %}
                    <ul class="list-links">
                        {% for link in links|slice:'8' %}
                        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">{% trans "Resources" %}</h4>
                    {% get_resources as resources %}
                    {% if resources %}
                    <ul class="list-links">
                        {% for resource in resources|slice:'8' %}
                        <li><a href="{{ resource.url }}">{{ resource.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">{% trans "Partners" %}</h4>
                    {% get_partners as partners %}
                    {% if partners %}
                    <ul class="list-links">
                        {% for partner in partners|slice:'8' %}
                        <li><a href="{% if partner.url %}{{ partner.url }}{% else %}#{% endif %}" target="_blank">{{ partner.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <ul class="footer-media-icons">
                        <li><a href="{% settings_value 'URL_FACEBOOK' %}" target="_blank" class="fa fa-facebook"></a></li>
                        <li><a href="{% settings_value 'URL_TWITTER' %}" target="_blank" class="fa fa-twitter"></a></li>
                        <!--
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-youtube"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-apple"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="bottom-footer">
            <div class="row">
                <div class="col-md-5">
                    <p class="small-text">&copy; {% trans "Copyright" %} {% copyright_years 2016 %}. <a href="#">BPBD Provinsi DKI Jakarta</a></p>
                </div> <!-- /.col-md-5 -->
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'geolevels:province_list' %}">{% trans "Geolevels" %}</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="{% url 'contact:index' %}">{% trans "Contact" %}</a></li>
                    </ul>
                </div> <!-- /.col-md-7 -->
            </div> <!-- /.row -->
        </div> <!-- /.bottom-footer -->

    </div> <!-- /.container -->
</footer> <!-- /.site-footer -->
