{% load staticfiles i18n %}

<div class="main-slideshow">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="http://placehold.it/770x400" alt="Slide 1"/>
                <div class="slider-caption">
                    <h2><a href="blog-single.html">Lorem ipsum dolor sit amet</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/770x400" alt="Slide 1"/>
                <div class="slider-caption">
                    <h2><a href="blog-single.html">Lorem ipsum dolor sit amet</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/770x400" alt="Slide 1"/>
                <div class="slider-caption">
                    <h2><a href="blog-single.html">Lorem ipsum dolor sit amet</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
            </li>
        </ul> <!-- /.slides -->
    </div> <!-- /.flexslider -->
</div> <!-- /.main-slideshow -->
