{% load staticfiles i18n %}

{% include "opendims/includes/nav_responsive.html" %}

<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 header-left">
                <p><i class="fa fa-phone"></i> (021) 382 2078</p>
                <p><i class="fa fa-envelope"></i> <a href="mailto:info@bpbd.jakarta.go.id">info@bpbd.jakarta.go.id</a></p>
            </div> <!-- /.header-left -->

            <div class="col-md-4">
                <div class="logo">
                    <a href="index.html" title="BPBD Provinsi DKI Jakarta" rel="home">
                        <img src="{% static 'img/logo.png' %}" alt="logo">
                    </a>
                </div> <!-- /.logo -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4 header-right">
                <ul class="small-links">
                    <li><a href="{% url 'contact:index' %}">{% trans "Contact" %}</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;{% trans "Logout" %}</a></li>
                    {% endif %}
                </ul>
                <div class="search-form">
                    <form name="search_form" method="get" action="{% url 'website:post_search' %}" class="search_form">
                        <input type="text" name="q" placeholder="Search the site..." title="Search the site..." class="field_search">
                    </form>
                </div>
            </div> <!-- /.header-right -->
        </div>
    </div> <!-- /.container -->

{% include "opendims/includes/nav.html" %}

</header> <!-- /.site-header -->
