{% load staticfiles i18n weatherforecast_tags %}

<link rel="stylesheet" href="{% static 'weather-icons/css/weather-icons.min.css' %}">

<div class="widget-main block-weatherforecast">
    <div class="widget-main-title">
        <h4 class="widget-title">{% trans "Weather Forecast" %}</h4>
    </div> <!-- /.widget-main-title -->
    <div class="widget-inner">
        {% get_latest_weatherforecastreport_dki as weatherforecastreport_dki %}
        {% if weatherforecastreport_dki  %}
        {% get_forecast_details weatherforecastreport_dki.first.forecast as forecast_details %}
        <div class="event-small-list main-forecast clearfix">
            <div class="event-small-details">
                <div class="row">
                    <div class="col-md-6">
                        <div class="big-icon">
                            <i class="wi {{ forecast_details.weather_icon_class }}" title="{% trans forecast_details.forecast_text %}"></i>
                        </div>
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6">
                        <div>{{ weatherforecastreport_dki.first.created|date:"j F Y" }}</div>
                        <h4>DKI JAKARTA</h5>
                        <h5>{% trans forecast_details.forecast_text %}</h5>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Temp</th>
                                    <td>&nbsp;</td>
                                    <td>{{ weatherforecastreport_dki.first.temperature_min }} - {{ weatherforecastreport_dki.first.temperature_max }} &deg;C</td>
                                </tr>
                                <tr>
                                    <th>RH</th>
                                    <td>&nbsp;</td>
                                    <td>{{ weatherforecastreport_dki.first.humidity_min }} - {{ weatherforecastreport_dki.first.humidity_max }}&#37;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.event-small-details -->
        </div> <!-- /.event-small-list -->
        {% endif %}

        {% for city in WEATHERFORECAST_CITIES %}
        {% get_latest_weatherforecastreport_by_city city as weatherforecastreport_city %}
        {% if weatherforecastreport_city %}
        <div class="event-small-list mini-forecast clearfix">
            <div class="event-small-details">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="event-small-title">{{ weatherforecastreport_city.first.city }}</h5>
                    </div>
                </div> <!-- /.row -->
                <div class="row">
                  <div class="small-icon">
                      {% get_forecast_details weatherforecastreport_city.first.forecast_morning as forecast_details %}
                      <div class="col-md-4">
                          <i class="wi {{ forecast_details.weather_icon_class }}" title="{% trans 'Morning' %}: {% trans forecast_details.forecast_text %}"></i>
                      </div> <!-- /.col-md-4 -->
                      {% get_forecast_details weatherforecastreport_city.first.forecast_noon as forecast_details %}
                      <div class="col-md-4">
                          <i class="wi {{ forecast_details.weather_icon_class }}" title="{% trans 'Noon' %}: {% trans forecast_details.forecast_text %}"></i>
                      </div> <!-- /.col-md-4 -->
                      {% get_forecast_details weatherforecastreport_city.first.forecast_noon as forecast_details %}
                      <div class="col-md-4">
                          <i class="wi {{ forecast_details.weather_icon_class }}" title="{% trans 'Night' %}: {% trans forecast_details.forecast_text %}"></i>
                      </div> <!-- /.col-md-4 -->
                  </div>
                </div> <!-- /.row -->
            </div> <!-- /.event-small-details -->
        </div> <!-- /.event-small-list -->
        {% endif %}
        {% endfor %}
    </div> <!-- /.widget-inner -->
    <div class="widget-footer">
        <div class="text-right">
            <a href="{% url 'weatherforecast:weatherforecastreport_list' %}">{% trans "More" %}</a>
        </div>
    </div> <!-- /.widget-footer -->
</div> <!-- /.widget-main -->
