{% load staticfiles i18n %}

<div class="row">

    <!-- Show Latest Blog News -->
    <div class="col-md-6">
        <div class="widget-main">
            <div class="widget-main-title">
                <h4 class="widget-title">Latest News</h4>
            </div> <!-- /.widget-main-title -->
            <div class="widget-inner">
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Lorem Ipsum Dolor Sit Amet</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">1 April 2016</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div> <!-- /.blog-list-post -->
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Lorem Ipsum Dolor Sit Amet</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">1 April 2016</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div> <!-- /.blog-list-post -->
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Lorem Ipsum Dolor Sit Amet</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">1 April 2016</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div> <!-- /.blog-list-post -->
            </div> <!-- /.widget-inner -->
        </div> <!-- /.widget-main -->
    </div> <!-- /col-md-6 -->

    <!-- Show Latest Events List -->
    <div class="col-md-6">
        <div class="widget-main">
            <div class="widget-main-title">
                <h4 class="widget-title">Weather Forecast</h4>
            </div> <!-- /.widget-main-title -->
            <div class="widget-inner">
                <div class="event-small-list clearfix">
                    <div class="calendar-small">
                        <span class="s-month">Apr</span>
                        <span class="s-date">24</span>
                    </div>
                    <div class="event-small-details">
                        <h5 class="event-small-title"><a href="event-single.html">Weather Forecast For Today</a></h5>
                        <p class="event-small-meta small-text">High precipitation lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="event-small-list clearfix">
                    <div class="calendar-small">
                        <span class="s-month">Apr</span>
                        <span class="s-date">25</span>
                    </div>
                    <div class="event-small-details">
                        <h5 class="event-small-title"><a href="event-single.html">Weather Forecast For Today</a></h5>
                        <p class="event-small-meta small-text">High precipitation lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="event-small-list clearfix">
                    <div class="calendar-small">
                        <span class="s-month">Apr</span>
                        <span class="s-date">26</span>
                    </div>
                    <div class="event-small-details">
                        <h5 class="event-small-title"><a href="event-single.html">Weather Forecast For Today</a></h5>
                        <p class="event-small-meta small-text">High precipitation lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div> <!-- /.widget-inner -->
        </div> <!-- /.widget-main -->
    </div> <!-- /.col-md-6 -->

</div> <!-- /.row -->
