{% load i18n active_url %}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">{{ SITE_NAME }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% active_url request 'home' %}"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li class="{% active_url request 'page_about' %}"><a href="{% url 'page_about' %}">{% trans 'About' %}</a></li>
                <li class="{% active_url request 'reports:event_list' %}"><a href="{% url 'reports:event_list' %}">{% trans 'Events' %}</a></li>
                <li class="{% active_url request 'reports:report_list' %}"><a href="{% url 'reports:report_list' %}">{% trans 'Reports' %}</a></li>
                <li class="{% active_url request 'geolevels:province_list' %}"><a href="{% url 'geolevels:province_list' %}">{% trans 'Geolevels' %}</a></li>
                <li class="{% active_url request 'maps:event_map' %}"><a href="{% url 'maps:event_map' %}">{% trans 'Map' %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;{% trans 'Logout' %}</a></li>
                {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;{% trans 'Login' %}</a></a></li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
