{% load staticfiles i18n category_tags active_url website_tags %}

<div class="nav-bar-main" role="navigation">
    <div class="container">
        <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
                <ul class="main-menu sf-menu">
                    <li class="{% active_url request 'home' %}"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                    <li class="{% active_url request 'reports:event_list' %}"><a href="{% url 'reports:event_list' %}">{% trans "Events" %}</a>
                        <ul class="sub-menu">
                            <li class="{% active_url request 'reports:report_list' %}"><a href="{% url 'reports:report_list' %}">{% trans "Reports" %}</a></li>
                        </ul>
                    </li>
                    <li><a href="#">{% trans "Maps" %}</a>
                        <ul class="sub-menu">
                            <li class="{% active_url request 'maps:event_map' %}"><a href="{% url 'maps:event_map' %}">{% trans "Events" %}</a></li>
                        </ul>
                    </li>
                    <li><a href="#">{% trans "Geolevels" %}</a>
                        <ul>
                            <li class="{% active_url request 'geolevels:province_list' %}"><a href="{% url 'geolevels:province_list' %}">{% trans "Provinces" %}</a></li>
                            <li class="{% active_url request 'geolevels:city_list' %}"><a href="{% url 'geolevels:city_list' %}">{% trans "Cities" %}</a></li>
                            <li class="{% active_url request 'geolevels:subdistrict_list' %}"><a href="{% url 'geolevels:subdistrict_list' %}">{% trans "Subdistricts" %}</a></li>
                            <li class="{% active_url request 'geolevels:village_list' %}"><a href="{% url 'geolevels:village_list' %}">{% trans "Villages" %}</a></li>
                        </ul>
                    </li>
                    {% get_category_tree 'news' as nodes %}
                    {% recursetree nodes %}
                    <li>
                        <a href="{% url 'website:post_list' node.slug %}">{% trans node.name %}</a>
                        {% if not node.is_leaf_node %}
                        <ul class="sub-menu">
                            {{ children }}
                        </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                    {% get_category_tree 'e-library' as nodes %}
                    {% recursetree nodes %}
                    <li>
                        <a href="{% url 'website:post_list' node.slug %}">{% trans node.name %}</a>
                        {% if not node.is_leaf_node %}
                        <ul class="sub-menu">
                            {{ children }}
                        </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                    {% get_category_tree 'gallery' as nodes %}
                    {% recursetree nodes %}
                    <li>
                        <a href="{% url 'website:post_list' node.slug %}">{% trans node.name %}</a>
                        {% if not node.is_leaf_node %}
                        <ul class="sub-menu">
                            {{ children }}
                        </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                    <li><a href="#">{% trans "Layouts" %}</a>
                        <ul class="sub-menu">
                            <li><a href="archives.html">Archives</a></li>
                            <li><a href="shortcodes.html">Shortcodes</a></li>
                            <li><a href="gallery.html">Our Gallery</a></li>
                        </ul>
                    </li>
                </ul> <!-- /.main-menu -->

                <ul class="social-icons pull-right">
                    <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="RSS"><i class="fa fa-rss"></i></a></li>
                </ul> <!-- /.social-icons -->
        </nav> <!-- /.main-navigation -->
    </div> <!-- /.container -->
</div> <!-- /.nav-bar-main -->
