{% load staticfiles i18n category_tags website_tags %}

<!-- This one in here is responsive menu for tablet and mobiles -->
<div class="responsive-navigation visible-sm visible-xs">
    <a href="#" class="menu-toggle-btn">
        <i class="fa fa-bars"></i>
    </a>
    <div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'reports:event_list' %}">{% trans "Events" %}</a>
                <ul class="sub-menu">
                    <li><a href="{% url 'reports:report_list' %}">{% trans "Reports" %}</a></li>
                </ul>
            </li>
            <li><a href="#">{% trans "Maps" %}</a>
                <ul>
                    <li><a href="{% url 'maps:event_map' %}">{% trans "Events" %}</a></li>
                </ul>
            </li>
            <li><a href="{% url 'waterlevel:watergate_list' %}">{% trans "Water Level" %}</a></li>
            <li><a href="#">{% trans "Geolevels" %}</a>
                <ul>
                    <li><a href="{% url 'geolevels:province_list' %}">{% trans "Provinces" %}</a></li>
                    <li><a href="{% url 'geolevels:city_list' %}">{% trans "Cities" %}</a></li>
                    <li><a href="{% url 'geolevels:subdistrict_list' %}">{% trans "Subdistricts" %}</a></li>
                    <li><a href="{% url 'geolevels:village_list' %}">{% trans "Villages" %}</a></li>
                </ul>
            </li>
            {% get_category_tree 'news' as nodes %}
            {% recursetree nodes %}
            <li>
                <a href="{% url 'website:post_list' node.slug %}">{% trans node.name %}</a>
                {% if not node.is_leaf_node %}
                <ul class="sub-menu">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
            {% get_category_tree 'e-library' as nodes %}
            {% recursetree nodes %}
            <li>
                <a href="{% url 'website:post_list' node.slug %}">{% trans node.name %}</a>
                {% if not node.is_leaf_node %}
                <ul class="sub-menu">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
            {% get_category_tree 'gallery' as nodes %}
            {% recursetree nodes %}
            <li>
                <a href="{% url 'website:post_list' node.slug %}">{% trans node.name %}</a>
                {% if not node.is_leaf_node %}
                <ul class="sub-menu">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ul> <!-- /.main_menu -->
        <ul class="social_icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul> <!-- /.social_icons -->
    </div> <!-- /.responsive_menu -->
</div> <!-- /responsive_navigation -->
