.pagination {
    margin: 10px 0;
}

.heading {
    margin: 0 0 20px 0;
}

.pull-up {
    margin-bottom: -30px;
}

.no-mb {
    margin-bottom: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.main-menu li.active a {
    color: inherit;
}

.main-menu li.active > a {
	color: #fecd0b;
}

.table.no-border td {
    border: none;
}

.no-padding {
    padding: 0;
}

.va-middle {
    vertical-align: middle !important;
}

.header-left {
    margin-top: 60px;
}

.header-right {
    margin: 42px auto;
}

.search-form {
    margin-bottom: 15px;
}

.search-form form input {
    min-width: 210px;
}

.lang-button {
    border: none;
    text-indent:-9999px;
    padding: 0;
    margin-left: 5px;
    width: 20px;
    height: 15px;
}

.col-count {
    width: 40px;
}

.logo {
    margin: 30px auto;
}

.logo-with-text {
    width: 70%;
    margin: 0 auto;
}

.logo-with-text div {
    float: left;
}

.logo-text {
    text-align: left;
    font-family: 'Raleway', serif;
    font-weight: bold;
    font-size: 16pt;
    color: #fff;
    margin: 30px 0 0 10px;
}

.logo-text .upper {
    font-size: 24pt;
}

.page-title a.active {
    color: #999;
}

.widget-inner h6 {
    margin-top: 0;
}

.widget-footer {
    padding: 0 20px 20px 20px;
}

.more-link {
    text-align: right;
}

.block-twitter .widget-inner {
    padding-top: 13px;
}

/* weather forecast block icons */
.block-weatherforecast .big-icon i.wi {
    font-size: 135px;
}

.block-weatherforecast .small-icon i.wi {
    font-size: 20px;
}

.block-weatherforecast .row .small-icon {
    margin-top: 10px;
    text-align: center;
}

/* lesser desktop layout */
@media (max-width: 1200px) {
    .block-weatherforecast .big-icon i.wi {
        font-size: 120px;
    }

    .logo-text {
        font-size: 14pt;
    }

    .logo-text .upper {
        font-size: 22pt;
    }

    .siteheader img {
        width: 100%;
    }
}

/* mobile layout */
@media (max-width: 992px) {
    .block-weatherforecast .main-forecast {
        text-align: center;
    }

    .block-weatherforecast .main-forecast table {
        width: 20%;
        margin: 0 auto;
    }

    .block-weatherforecast .mini-forecast .event-small-title {
        text-align: center;
    }

    .logo-with-text {
        width: 50%;
    }

    .logo-text {
        font-size: 16pt;
    }

    .logo-text .upper {
        font-size: 24pt;
    }
}

/* link icons */
.link-icons a:before {
    clear: both;
    content: " ";
    display: table;
}

.link-icons a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: 5px;
}

/* fully valid URL */
.link-icons a[href^="http://"]:after {
    content: "\f08e";
    color: #333;
}

/* PDF file */
.link-icons a[href$=".pdf"]:after {
    content: "\f1c1";
    color: red;
}

/* MS Word document */
.link-icons a[href$=".doc"]:after,
.link-icons a[href$=".docx"]:after {
    content: "\f1c2";
    color: #2c5898;
}

/* MS Excel document */
.link-icons a[href$=".xls"]:after,
.link-icons a[href$=".xlsx"]:after {
    content: "\f1c3";
    color: #207347;
}

/* Music file */
.link-icons a[href$=".mp3"]:after {
    content: "\f1c7";
    color: #333;
}

/* Archive file */
.link-icons a[href$=".zip"]:after {
    content: "\f1c6";
    color: #fdb516;
}

#div_id_captcha img.captcha {
    margin-bottom: 10px;
}

/* post content */
.list-event-item .list-event-header .small-text {
	 margin-right: 10px;
}

.list-event-item .list-event-header,
.list-event-item .event-title {
	 line-height: inherit;
}

.post-container .post-meta {
    margin-top: -10px;
    margin-bottom: 10px;
    color: #282a2c;
}

.post-container blockquote.post-files {
    font-size: inherit;
}

.post-container blockquote.post-files ul {
    padding: 0;
    margin-bottom: 12px;
    list-style: none;
}

.post-container blockquote.post-images .thumb-small-gallery {
    margin-left: 0;
    margin-right: 12px;
}

.post-container .list-event-item {
    margin-top: 0;
    margin-bottom: 30px;
}

.post-container .box-content-inner {
    padding: 0;
}

.post-container .gallery.post-content {
    margin-top: 20px;
}

.tab-content .gallery .gallery-item,
.post-container .gallery .gallery-item {
    margin-top: 0;
    margin-bottom: 30px;
}

.tab-content .gallery .gallery-content,
.post-container .gallery .gallery-content {
    padding: 10px;
    background-color: #efefef;
}

/* nested category list */
.blog-categories ul li ul {
    padding-left: 20px;
}

.blog-categories ul li ul li ul {
    padding-left: 20px;
}

.blog-categories ul li ul li ul li ul {
    padding-left: 20px;
}

.block-earlywarning .glyphicon {
    margin-right: 4px !important;
}

.block-earlywarning .pagination .glyphicon {
    margin-right: 0px !important;
}

.block-earlywarning .pagination a {

}

.block-earlywarning .panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.block-earlywarning .news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dashed #d5dbe0;
}

/* water level threshold levels */
.SIAGA-1 {
    background-color: #ff6666;
}

.SIAGA-2 {
    background-color: #ffcc00;
}

.SIAGA-3 {
    background-color: #ffff66;
}

.SIAGA-4 {
    background-color: #91ff66;
}

/* Partner logos */
.our-campus ul li {
    margin: 0 10px 10px 0;
}

.our-campus ul li:nth-child(4n+0) {
    margin-right: 0;
}
