.heading {
    margin: 0 0 20px 0;
}

.pull-up {
    margin-bottom: -30px;
}

.page-title a.active {
    color: #999;
}

.widget-inner h6 {
    margin-top: 0;
}

#div_id_captcha img.captcha {
    margin-bottom: 10px;
}
