{% extends "weatherforecast/weatherforecast.html" %}

{% load i18n verbose_names %}

{% load staticfiles %}

{% block title %}{{ block.super }} - {% trans "Weather Forecast Report" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'weather-icons/css/weather-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
<style type="text/css">
.wi.wi-day-sunny {

font-size: 20pt;
text-align: center;
color: #0000FF;
}
</style>
{% endblock extra_css %}



{% block page_content %}



 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">

    <!-- Form code begins -->
    <form action="" method="post">
            <div class="form-group">
              <label for="filter-date">Date:</label>
              <div class="input-group date" id="datetimepicker">
                <input name="date" type="text" class="form-control" placeholder="YYYY-MM-DD" id="filter-date" readonly />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
      <div class="form-group"> <!-- Submit button -->
        <button class="btn btn-primary " name="submit" type="submit">Submit</button>
      </div>
     </form>
     <!-- Form code ends --> 

    </div>
  </div>    
 </div>
</div>



          
    <div class="table-responsive">
    <table  class="table table-striped table-bordered">
    <thead>
        <tr>
            {% for weatherforecastreport in weatherforecastreport_list|slice:'1' %}
            <th class="text-center">Daerah</th>
            <th class="text-center">Pagi</th>
            <th class="text-center">Siang</th>
            <th class="text-center">Malam</th>
        </tr>
            {% endfor %}
    </thead>
    
    <tbody>
        <tr>
            {% for weatherforecastreport in weatherforecastreport_list %}
            <td align="center">{{ weatherforecastreport.city }}</td>
             {% if weatherforecastreport.forecast_morning = 'CERAH' %}
            <td align="center" ><i class="wi wi-day-sunny" ></i><br><br>{{ weatherforecastreport.forecast_morning }}</td>
            {% elif weatherforecastreport.forecast_morning = 'CERAH BERAWAN' %}
             <td align="center"><i class="wi wi-day-cloudy"></i><br><br>{{ weatherforecastreport.forecast_morning }}</td>
            {% elif weatherforecastreport.forecast_morning = 'BERAWAN' %}
             <td align="center"><i class="wi wi-cloudy"></i><br><br>{{ weatherforecastreport.forecast_morning }}</td>
            {% elif weatherforecastreport.forecast_morning = 'HUJAN RINGAN' %}
             <td align="center"><i class="wi wi-day-rain-mix"></i><br><br>{{ weatherforecastreport.forecast_morning }}</td> 
            {% elif weatherforecastreport.forecast_morning = 'HUJAN SEDANG' %}
             <td align="center"><i class="wi wi-rain"></i><br><br>{{ weatherforecastreport.forecast_morning }}</td>             
            {% elif weatherforecastreport.forecast_morning = 'HUJAN DERAS' %}
             <td align="center"><i class="wi wi-thunderstorm"></i><br><br>{{ weatherforecastreport.forecast_morning }}</td>            
  {% endif %}
             {% if weatherforecastreport.forecast_morning = 'CERAH' %}
            <td align="center"><i class="wi wi-day-sunny"></i><br><br>{{ weatherforecastreport.forecast_noon }}</td>
            {% elif weatherforecastreport.forecast_morning = 'CERAH BERAWAN' %}
             <td align="center"><i class="wi wi-day-cloudy"></i><br><br>{{ weatherforecastreport.forecast_noon }}</td>
            {% elif weatherforecastreport.forecast_morning = 'BERAWAN' %}
             <td align="center"><i class="wi wi-cloudy"></i><br><br>{{ weatherforecastreport.forecast_noon }}</td>
            {% elif weatherforecastreport.forecast_morning = 'HUJAN RINGAN' %}
             <td align="center"><i class="wi wi-day-rain-mix"></i><br><br>{{ weatherforecastreport.forecast_noon }}</td> 
            {% elif weatherforecastreport.forecast_morning = 'HUJAN SEDANG' %}
             <td align="center"><i class="wi wi-rain"></i><br><br>{{ weatherforecastreport.forecast_noon }}</td>             
            {% elif weatherforecastreport.forecast_morning = 'HUJAN DERAS' %}
             <td align="center"><i class="wi wi-thunderstorm"></i><br><br>{{ weatherforecastreport.forecast_noon }}</td>            
  {% endif %}
              {% if weatherforecastreport.forecast_morning = 'CERAH' %}
            <td align="center"><i class="wi wi-night-clear"></i><br><br>{{ weatherforecastreport.forecast_night }}</td>
            {% elif weatherforecastreport.forecast_morning = 'CERAH BERAWAN' %}
             <td align="center"><i class="wi wi-night-alt-cloudy"></i><br><br>{{ weatherforecastreport.forecast_night }}</td>
            {% elif weatherforecastreport.forecast_morning = 'BERAWAN' %}
             <td align="center"><i class="wi wi-cloudy"></i><br><br>{{ weatherforecastreport.forecast_night }}</td>
            {% elif weatherforecastreport.forecast_morning = 'HUJAN RINGAN' %}
             <td align="center"><i class="wi wi-night-alt-sleet"></i><br><br>{{ weatherforecastreport.forecast_night }}</td> 
            {% elif weatherforecastreport.forecast_morning = 'HUJAN SEDANG' %}
             <td align="center"><i class="wi wi-rain"></i><br><br>{{ weatherforecastreport.forecast_night }}</td>             
            {% elif weatherforecastreport.forecast_morning = 'HUJAN DERAS' %}
             <td align="center"><i class="wi wi-thunderstorm"></i><br><br>{{ weatherforecastreport.forecast_night }}</td>                        
       {% endif %}      
           
        </tr>
            {% empty %}
        <tr>
           <td colspan="6" class="text-center">{% trans "No weather forecast found." %}</td>
        </tr>
            {% endfor %}
    </tbody>
    
    </table>
    </div>

{% block extra_js_lib  %}

{% endblock %}


    
{% comment %}
{% endcomment %}

{% include 'opendims/includes/pagination.html' with page=page_obj %}
{% endblock %}  


{% block extra_js  %}
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script>
$("#datetimepicker").datetimepicker({
  format: 'YYYY-MM-DD',
  showTodayButton: true,
  ignoreReadonly: true,
});
</script>

{% endblock %}

