{% extends "opendims/base.html" %}

{% block content %}

{% include "opendims/includes/nav.html" %}

{% include "opendims/includes/masthead.html" %}

<div class="container">
    <div class="no-gutter row">
        <!-- left column -->
        <div class="col-md-2">
            <div id="sidebar" class="panel panel-default">
                <div class="panel-heading" style="background-color:#888;color:#fff;"></div>
                <div class="panel-body">
                    {% block sidebar_l %}{% endblock sidebar_l %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /left column -->
        
        <!-- center column -->
        <div id="content" class="col-md-10">
            <div class="panel">
                <div class="panel-heading" style="background-color:#111;color:#fff;"></div>
                <div class="panel-body">
                    {% block main %}{% endblock main %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /center column -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

{% include "opendims/includes/footer.html" %}

{% endblock %}
