{% extends "website/post_list.html" %}

{% load staticfiles i18n cropping common_filters %}

{% block title %}{{ block.super }} - {% for category in post.category.get_ancestors.all %}{{ category.name }}{% endfor %} - {{ post.category.name }} - {{ post.title }}{% endblock %}

{% block crumbs %}
{{ block.super }}
{% for category in post.category.get_ancestors.all %}
<h6><a href="{% url 'website:post_list' category.slug %}">{% trans category.name %}</a></h6>
{% endfor %}
<h6><a href="{% url 'website:post_list' post.category.slug %}">{% trans post.category.name %}</a></h6>
<h6 class="page-active">{% trans post.title %}</h6>
{% endblock %}

{% block page_content_upper %}
{% if post.slideshow_image %}
<div class="widget-main pull-up">
    <div class="blog-post-image">
        <img src="{% cropped_thumbnail post 'slideshow_image_post' %}" title="{{ post.title }}">
        <div class="blog-post-meta">
            <ul>
                <li><i class="fa fa-calendar-o"></i>{{ post.created|date:"j F Y H:i T" }}</li>
                <li><i class="fa fa-user"></i>{% if post.author_text %}{{ post.author_text }}{% else %}{{ post.author }}{% endif %}</li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block page_content %}
<div class="row" >
    <div class="col-md-12">
        <h3 class="page-header heading">{{ post.title }}</h3>
        <div class="post-container">
            {% if not post.slideshow_image %}
            <div class="post-meta">
            <i class="fa fa-calendar-o"></i>&nbsp;{{ post.created|date:"j F Y H:i T" }}
            &nbsp;
            <i class="fa fa-user"></i>&nbsp;{% if post.author_text %}{{ post.author_text }}{% else %}{{ post.author }}{% endif %}
            </div>
            {% endif %}

            {{ post.content|safe }}

            {% if gallery %}
            <div class="gallery clearfix{% if post.content %} post-content{% endif %}">
                {% for image in images %}
                <div class="col-md-4">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <a class="fancybox" data-fancybox-group="gallery" href="{{ image.image.url }}" title="{% if image.title %}{{ image.title }}{% else %}{{ image.image|filename }}{% endif %}">
                                <img src="{% cropped_thumbnail image 'image_preview' %}" alt="{% if image.title %}{{ image.title }}{% else %}{{ image.image|filename }}{% endif %}">
                            </a>
                        </div>
                        <div class="gallery-content">{% if image.title %}{{ image.title }}{% else %}{{ image.image|filename }}{% endif %}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <br>
            {% if files and not gallery %}
            <blockquote class="post-files">
                <h5>{% trans "Files" %}</h5>
                <ul class="link-icons">
                    {% for file in files %}
                    <li><a href="{{ file.file.url }}">{% if file.title %}{{ file.title }}{% else %}{{ file.file|filename }}{% endif %}</a></li>
                    {% endfor %}
                </ul>
            </blockquote>
            {% endif %}
            {% if images and not gallery %}
            <blockquote class="post-images clearfix">
                <h5>{% trans "Images" %}</h5>
                {% for image in images %}
                <div class="thumb-small-gallery">
                    <a class="fancybox" data-fancybox-group="gallery-post" href="{{ image.image.url }}" title="{% if image.title %}{{ image.title }}{% else %}{{ image.image|filename }}{% endif %}">
                        <img src="{% cropped_thumbnail image 'image_thumb' %}" alt="{% if image.title %}{{ image.title }}{% else %}{{ image.image|filename }}{% endif %}">
                    </a>
                </div>
                {% endfor %}
            </blockquote>
            {% endif %}
        </div> <!-- /.post-container -->
    </div>
</div>
{% endblock %}

{% block page_sidebar %}
{% include "opendims/includes/block_categories.html" %}
{% include "opendims/includes/block_similar_posts.html" with post=post %}
{% endblock %}
