{% extends "website/website.html" %}

{% load staticfiles i18n cropping crispy_forms_tags common_tags %}

{% block title %}{{ block.super }} {% if category %}- {% for category in category.get_ancestors.all %}{{ category.name }} -{% endfor %} {{ category.name }}{% elif search %}- {% trans "Search" %}{% endif %}{% if search and q %} - &quot;{{ q }}&quot;{% endif %}{% endblock %}

{% block crumbs %}
{{ block.super }}
{% if category %}
{% for category in category.get_ancestors.all %}
<h6><a href="{% url 'website:post_list' category.slug %}">{{ category.name }}</a></h6>
{% endfor %}
<h6><a class="active">{{ category.name }}</a></h6>
{% elif search %}
<h6><a class="active">{% trans "Search" %}</a></h6>
{% endif %}
{% endblock %}

{% block page_content_upper %}
{% if search %}
<div class="widget-main">
    <div class="widget-inner">
        <div class="course-search">
            <h3>{% trans "Search posts" %}</h3>
            {% crispy form %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}


{% block page_content %}
<div class="row" >
    <div class="col-md-12">
        <h3 class="page-header heading">
            {% if gallery %}{% trans "Gallery" %}{% elif search %}{% trans "Search" %}{% else %}{% trans "Category" %}{% endif %}{% if search and q %}: &quot;{{ q }}&quot;{% elif category.slug != 'gallery' %}: {{ category.name }}{% endif %}
        </h3>
        <div class="post-container">
            {% for post in post_list %}
            <div class="list-event-item">
                <div class="box-content-inner clearfix">
                    <div class="list-event-thumb">
                        <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                            {% if post.slideshow_image %}
                            <img src="{% cropped_thumbnail post 'slideshow_image_list' %}" alt="{{ post.title }}">
                            {% elif gallery and not post.slideshow_image %}
                            {% query post.attachments.all published=True image__isnull=False file='' as images %}
                            {% for image in images|slice:"1" %}
                            <img src="{% cropped_thumbnail image 'image_list' %}" alt="{{ post.title }}">
                            {% empty %}
                            <img src="{% static 'img/opendims/default-list.jpg' alt="{{ post.title }}" %}">
                            {% endfor %}
                            {% else %}
                            <img src="{% static 'img/opendims/default-list.jpg' alt="{{ post.title }}" %}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="list-event-header">
                        <span class="event-date small-text"><i class="fa fa-calendar-o"></i>{{ post.created|date:"j F Y H:i T" }}</span>
                        <span class="event-place small-text"><i class="fa fa-user"></i>{% if post.author_text %}{{ post.author_text }}{% else %}{{ post.author }}{% endif %}</span>
                    </div>
                    <h5 class="event-title"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
                    {{ post.content|striptags|truncatewords:"35" }}
                </div> <!-- /.box-content-inner -->
            </div>
            {% empty %}
            <div class="alert alert-info text-center">{% trans "No entries found!" %}</div>
            {% endfor %}
        </div> <!-- /.post-container -->
        {% include 'opendims/includes/pagination.html' with page=page_obj q=q %}
    </div>
</div>
{% endblock %}

{% block page_sidebar %}
{% include "opendims/includes/block_categories.html" %}
{% endblock %}
