{% extends "jaksafe/jaksafe.html" %}

{% load i18n verbose_names %}

{% block title %}{{ block.super }} - {{ JaksafeReportAuto }}{% endblock %}

{% block main %}

<div class="page-header">
    <h2>{{ jaksafereportauto }}</h2>
</div>

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th class="col-md-2">{% get_verbose_field_name jaksafereportauto 'created' %}</th>
            <td>{{ jaksafereportauto.created }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'village' %}</th>
            <td>{{ jaksafereportauto.village }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'rw' %}</th>
            <td>{{ jaksafereportauto.rw }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'source' %}</th>
            <td>{{ jaksafereportauto.source }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'note' %}</th>
            <td>{{ jaksafereportauto.note }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'damage_infrastruktur' %}</th>
            <td>{{ jaksafereportauto.damage_infrastruktur }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'loss_infrastruktur' %}</th>
            <td>{{ jaksafereportauto.loss_infrastruktur }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'damage_lintas_sektor' %}</th>
            <td>{{ jaksafereportauto.damage_lintas_sektor }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'loss_lintas_sector' %}</th>
            <td>{{ jaksafereportauto.loss_lintas_sector }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'damage_produktif' %}</th>
            <td>{{ jaksafereportauto.damage_produktif }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'loss_produktif' %}</th>
            <td>{{ jaksafereportauto.loss_produktif }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'damage_total' %}</th>
            <td>{{ jaksafereportauto.damage_total }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name jaksafereportauto 'loss_total' %}</th>
            <td>{{ jaksafereportauto.loss_total }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
