{% extends "opendims/base_map.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }} - Event Map{% endblock %}

{% block extra_css_lib %}
<link rel="stylesheet" href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block extra_css %}
<style type="text/css">
.filter-info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.filter-info .table td {
  border: 0;
}
/** style for legend **/
.legend {
    line-height: 20px;
    color: #000000;
    font:helvetica;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 6px 8px;
    border-radius: 5px;
}
.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 15px;
    opacity: 1;
}
</style>
{% endblock %}

{% block map_navbar_tools %}
<li class="hidden"><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="full-extent-btn"><i class="fa fa-arrows-alt"></i>&nbsp;&nbsp;Zoom To Full Extent</a></li>
<li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="filter-btn"><i class="fa fa-filter"></i>&nbsp;&nbsp;Filter</a></li>
{% endblock %}

{% block map_navbar %}
<li class="dropdown">
  <a id="downloadDrop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download white"></i>&nbsp;&nbsp;Download GeoJSON <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'reports:event_api' %}?disaster=ABR&format=json" download="ABR.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Abrasi</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=CEK&format=json" download="CEK.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Angin Kencang</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=BJR&format=json" download="BJR.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Banjir</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=ROB&format=json" download="ROB.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Banjir Rob</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=GMP&format=json" download="GMP.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Gempa Bumi</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=KBK&format=json" download="KBK.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Kebakaran</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=KLB&format=json" download="KLB.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Kejadian Luar Biasa</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=SOS&format=json" download="SOS.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Konflik Sosial</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=LAI&format=json" download="LAI.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Lain-lain</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=LSR&format=json" download="LSR.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Longsor</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=PHT&format=json" download="LSR.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Pohon Tumbang</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=TER&format=json" download="TER.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Terorisme</a></li>
    <li><a href="{% url 'reports:event_api' %}?disaster=TSU&format=json" download="TSU.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Tsunami</a></li>
  </ul>
</li>
{% endblock %}

{% block map_sidebar_title %}Events{% endblock %}

{% block modal_about_title %}Event Map{% endblock %}

{% block modal_about_description %}
<p>Map description.</p>
{% endblock %}

{% block modal_about_disclaimer %}
<p>The data provided on this site is for informational purposes only.</p>
<p>Absolutely no accuracy or completeness guarantee is implied or intended.</p>
{% endblock %}

{% block modal_about_contact %}
<p>Contact information.</p>
{% endblock %}

{% block modal_legend %}
<p>Map legend.</p>
{% endblock %}

{% block map_modal %}
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Filter</h4>
      </div>
      <div class="modal-body">
        <form id="filter-form">
          <fieldset>
            <div class="form-group">
              <label for="name">Date:</label>
              <div class="input-group date" id="datetimepicker">
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" id="filter-date" readonly />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div class="form-group{% if not user.is_authenticated %} hidden{% endif %}">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="filter-all">
                  Show inactive events
                </label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="filter-reset-btn">Reset</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="filter-submit-btn">Filter</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extra_js_lib  %}
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}

{% block extra_js %}
var filterInfoControl;
var ABRSearch = [], CEKSearch = [], BJRSearch = [], ROBSearch = [], GMPSearch = [], KBKSearch = [], KLBSearch = [], SOSSearch = [], LAISearch = [], LSRSearch = [], PHTSearch = [], TERSearch = [], TSUSearch = [];
var ABRLayer, ABR, ABRMarkers, CEKLayer, CEK, CEKMarkers, BJRLayer, BJR, BJRMarkers, ROBLayer, ROB, ROBMarkers, GMPLayer, GMP, GMPMarkers, KBKLayer, KBK, KBKMarkers, KLBLayer, KLB, KLBMarkers, SOSLayer, SOS, SOSMarkers, LAILayer, LAI, LAIMarkers, LSRLayer, LSR, LSRMarkers, PHTLayer, PHT, PHTMarkers, TERLayer, TER, TERMarkers, TSULayer, TSU, TSUMarkers;

//Function defining colors for different ranges of height

function getColor(height) {
    return height > 150  ? '#e31a1c' :
           height > 70   ? '#ff7f00' :
           height > 10   ? '#ffff59' :
                           '#BCC2F8' ;
}

var legend = L.control({position: 'bottomleft'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'legend'),
        values = [0, 10, 70, 150],
        labels = ['<strong> Flood height </strong>'];

// loop through height intervals and generate a label with a colored square for each interval

    for (var i = 0; i < values.length; i++) {
        labels.push(
          '<i style="background:' + getColor(values[i] + 1) + '"></i> ' +
          values[i]  + (values[i + 1]? ' &ndash; ' + values[i + 1] : '+'));
         }

          div.innerHTML = labels.join('<br>');
          return div;
};
legend.addTo(map);

$("#datetimepicker").datetimepicker({
  format: 'YYYY-MM-DD',
  showTodayButton: true,
  ignoreReadonly: true,
});

$("#full-extent-btn").click(function() {
  //map.fitBounds(BJR.getBounds());
  $(".navbar-collapse.in").collapse("hide");
  return false;
});

$("#filter-btn").click(function() {
  $("#filterModal").modal("show");
  $(".navbar-collapse.in").collapse("hide");
  return false;
});

$("#filter-reset-btn").click(function() {
  $("#filter-date").val("");
  $("#filter-all").prop("checked", false);

  clearEvents();
  loadEvents();
});

$("#filter-submit-btn").click(function() {
  clearEvents();
  loadEvents($("#filter-date").val(), $("#filter-all").is(":checked"));
});

/**
 * Function for clearing all Event layers and the typeahead search cache.
*/
function clearEvents() {
  map.removeLayer(ABRLayer);
  ABR.clearLayers();
  ABRMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  ABRSearch.length = 0;

  map.removeLayer(CEKLayer);
  CEK.clearLayers();
  CEKMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  CEKSearch.length = 0;

  map.removeLayer(BJRLayer);
  BJR.clearLayers();
  BJRMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  BJRSearch.length = 0;

  map.removeLayer(ROBLayer);
  ROB.clearLayers();
  ROBMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  ROBSearch.length = 0;

  map.removeLayer(GMPLayer);
  GMP.clearLayers();
  GMPMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  GMPSearch.length = 0;

  map.removeLayer(KBKLayer);
  KBK.clearLayers();
  KBKMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  KBKSearch.length = 0;

  map.removeLayer(KLBLayer);
  KLB.clearLayers();
  KLBMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  KLBSearch.length = 0;

  map.removeLayer(SOSLayer);
  SOS.clearLayers();
  SOSMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  SOSSearch.length = 0;

  map.removeLayer(LAILayer);
  LAI.clearLayers();
  LAIMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  LAISearch.length = 0;

  map.removeLayer(LSRLayer);
  LSR.clearLayers();
  LSRMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  LSRSearch.length = 0;

  map.removeLayer(PHTLayer);
  PHT.clearLayers();
  PHTMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  PHTSearch.length = 0;

  map.removeLayer(TERLayer);
  TER.clearLayers();
  TERMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  TERSearch.length = 0;

  map.removeLayer(TSULayer);
  TSU.clearLayers();
  TSUMarkers.eachLayer(function(layer) {
    map.removeLayer(layer);
  });
  TSUSearch.length = 0;

  clearHighlight();

  $("#searchbox").typeahead('destroy');
}

/**
 * Function used in syncSidebar() to populate the sidebar with layers
 * visible within the map bounds.
*/
function syncSidebarLayer(layer, layerGroup, markerImgPath) {
  if (map.hasLayer(layerGroup)) {
    var center;

    // Event geometry can be Point or MultiPolygon
    if (layer.feature.geometry.type === 'Point') {
      center = layer.getLatLng();
    }
    else if (layer.feature.geometry.type === 'MultiPolygon') {
      var bounds = layer.getBounds();
      center = bounds.getCenter();
    }

    if (map.getBounds().contains(center)) {
      if (layer.feature.properties) {
        var featureCreated = " - ";
        var featureDisaster = " - ";
        var featureStatus = " - ";
        var featureProvinceName = " - ";
        var featureCityName = " - ";
        var featureSubdistrictName = " - ";
        var featureVillageName = " - ";
        var featureRWName = " - ";
        var featureRTName = " - ";

        if (layer.feature.properties.created) {
          featureCreated = layer.feature.properties.created;
        }
        if (layer.feature.properties.disaster) {
          featureDisaster = layer.feature.properties.disaster;
        }
        if (layer.feature.properties.status) {
          featureStatus = layer.feature.properties.status;
        }
        if (layer.feature.properties.province) {
          featureProvinceName = layer.feature.properties.province_name;
        }
        if (layer.feature.properties.city) {
          featureCityName = layer.feature.properties.city_name;
        }
        if (layer.feature.properties.subdistrict) {
          featureSubdistrictName = layer.feature.properties.subdistrict_name;
        }
        if (layer.feature.properties.village) {
          featureVillageName = layer.feature.properties.village_name;
        }
        if (layer.feature.properties.rw) {
          featureRWName = layer.feature.properties.rw_name;
        }
        if (layer.feature.properties.rt) {
          featureRTName = layer.feature.properties.rt_name;
        }

        var featureName = featureDisaster + ' - ' + featureCreated;
        var featureLocation = featureProvinceName + ', ' + featureCityName + ', ' + featureSubdistrictName + ', ' + featureVillageName + ', ' + featureRWName + ', ' + featureRTName;

        $("#feature-list tbody").append('<tr class="feature-row" id="' + L.stamp(layer) + '" lat="' + center.lat + '" lng="' + center.lng + '"><td style="vertical-align: middle;"><img width="16" height="18" src="' + markerImgPath + '"></td><td class="feature-name">' + featureName + '<br><small>' + featureLocation + '</small></td><td style="vertical-align: middle;"><i class="fa fa-chevron-right pull-right"></i></td></tr>');
      }
      // end if (layer.feature.properties)
    }
  }
}
// end syncSidebarLayer()

function syncSidebar() {
  /* Empty sidebar features */
  $("#feature-list tbody").empty();

  ABR.eachLayer(function(layer) {
    syncSidebarLayer(layer, ABRLayer, "{% static 'img/markers/ABR.png' %}");
  });

  CEK.eachLayer(function(layer) {
    syncSidebarLayer(layer, CEKLayer, "{% static 'img/markers/CEK.png' %}");
  });

  BJR.eachLayer(function(layer) {
    syncSidebarLayer(layer, BJRLayer, "{% static 'img/markers/BJR.png' %}");
  });

  ROB.eachLayer(function(layer) {
    syncSidebarLayer(layer, ROBLayer, "{% static 'img/markers/ROB.png' %}");
  });

  GMP.eachLayer(function(layer) {
    syncSidebarLayer(layer, GMPLayer, "{% static 'img/markers/GMP.png' %}");
  });

  KLB.eachLayer(function(layer) {
    syncSidebarLayer(layer, KLBLayer, "{% static 'img/markers/KLB.png' %}");
  });

  KBK.eachLayer(function(layer) {
    syncSidebarLayer(layer, KBKLayer, "{% static 'img/markers/KBK.png' %}");
  });

  SOS.eachLayer(function(layer) {
    syncSidebarLayer(layer, SOSLayer, "{% static 'img/markers/SOS.png' %}");
  });

  LAI.eachLayer(function(layer) {
    syncSidebarLayer(layer, LAILayer, "{% static 'img/markers/LAI.png' %}");
  });

  LSR.eachLayer(function(layer) {
    syncSidebarLayer(layer, LSRLayer, "{% static 'img/markers/LSR.png' %}");
  });

  PHT.eachLayer(function(layer) {
    syncSidebarLayer(layer, PHTLayer, "{% static 'img/markers/PHT.png' %}");
  });

  TER.eachLayer(function(layer) {
    syncSidebarLayer(layer, TERLayer, "{% static 'img/markers/TER.png' %}");
  });

  TSU.eachLayer(function(layer) {
    syncSidebarLayer(layer, TSULayer, "{% static 'img/markers/TSU.png' %}");
  });

  /* Update list.js featureList */
  featureList = new List("features", {
    valueNames: ["feature-name"]
  });
  featureList.sort("feature-name", {
    order: "desc"
  });
}
// end syncSidebar()

/**
 * Function for drawing and initializing a feature part of a layer.
*/
function drawLayerFeature(feature, layer, layerMarkers, markerImgPath, layerGroupSearch, layerGroupSearchSource) {
  var center;

  // Event geometry can be either a MultiPolygon or Point
  if (feature.geometry.type === 'MultiPolygon') {
    // Get bounds and center of polygon
    var bounds = layer.getBounds();
    center = bounds.getCenter();
  }
  else if (feature.geometry.type === 'Point') {
    center = layer.getLatLng();
  }

  if (feature.properties) {
    var featureCreated = " - ";
    var featureDisaster = " - ";
    var featureStatus = " - ";
    var featureProvinceName = " - ";
    var featureCityName = " - ";
    var featureSubdistrictName = " - ";
    var featureVillageName = " - ";
    var featureRWName = " - ";
    var featureRTName = " - ";
    var contentCreated = " - ";
    var contentDisaster = " - ";
    var contentStatus = " - ";
    var contentHeight = " - ";
    var contentProvince = " - ";
    var contentCity = " - ";
    var contentSubdistrict = " - ";
    var contentVillage = " - ";
    var contentRW = " - ";
    var contentRT = " - ";
    var contentDetail = " - ";
    var contentReports = " - ";

    if (feature.properties.created) {
      featureCreated = feature.properties.created;
      contentCreated = featureCreated;
    }
    if (feature.properties.disaster) {
      featureDisaster = feature.properties.disaster;
    }
    if (feature.properties.status) {
      contentStatus = feature.properties.status;
    }
    if (feature.properties.height) {
      if (feature.properties.height_min) {
        contentHeight = feature.properties.height_min + ' - ' + feature.properties.height;
      }
      else {
        contentHeight = feature.properties.height;
      }
    }
    if (feature.properties.disaster_note) {
      contentDisaster = feature.properties.disaster_note;
    }
    if (feature.properties.province) {
      featureProvinceName = feature.properties.province_name;
      contentProvince = "<a class='url-break' href='" + "{% url "geolevels:province_list" %}" + feature.properties.province + "' target='_blank'>" + feature.properties.province_name  + "</a>";
    }
    if (feature.properties.city) {
      featureCityName = feature.properties.city_name;
      contentCity = "<a class='url-break' href='" + "{% url "geolevels:city_list" %}" + feature.properties.city + "' target='_blank'>" + feature.properties.city_name  + "</a>";
    }
    if (feature.properties.subdistrict) {
      featureSubdistrictName = feature.properties.subdistrict_name;
      contentSubdistrict = "<a class='url-break' href='" + "{% url "geolevels:subdistrict_list" %}" + feature.properties.subdistrict + "' target='_blank'>" + feature.properties.subdistrict_name  + "</a>";
    }
    if (feature.properties.village) {
      featureVillageName = feature.properties.village_name;
      contentVillage = "<a class='url-break' href='" + "{% url "geolevels:village_list" %}" + feature.properties.village + "' target='_blank'>" + feature.properties.village_name  + "</a>";
    }
    if (feature.properties.rw) {
      featureRWName = feature.properties.rw_name;
      contentRW = "<a class='url-break' href='" + "{% url "geolevels:rw_list" %}" + feature.properties.rw + "' target='_blank'>" + feature.properties.rw_name  + "</a>";
    }
    if (feature.properties.rt) {
      featureRTName = feature.properties.rt_name;
      contentRT = "<a class='url-break' href='" + "{% url "geolevels:rt_list" %}" + feature.properties.rt + "' target='_blank'>" + feature.properties.rt_name  + "</a>";
    }
    if (feature.id) {
      contentDetail = "<a class='url-break' href='" + "{% url "reports:event_list" %}" + feature.id + "' target='_blank'>" + "View event detail"  + "</a>";
    }
    if (feature.properties.reports) {
      if (feature.properties.reports.length > 0) {
        contentReports = "<ol style='margin-bottom: 0;'>";
        for (var i = 0; i < feature.properties.reports.length; i++) {
          contentReports = contentReports + "<li><a class='url-break' href='" + "{% url "reports:report_list" %}" + feature.properties.reports[i].id + "' target='_blank'>" + feature.properties.reports[i].source_note  + "</a></li>";
        }
        contentReports = contentReports + "</ol>";
      }
    }

    var featureName = featureDisaster + ' - ' + featureCreated;
    var featureLocation = featureProvinceName + ', ' + featureCityName + ', ' + featureSubdistrictName + ', ' + featureVillageName + ', ' + featureRWName + ', ' + featureRTName;
    var popupContent = featureName + ': ' + featureLocation;

    var content = "<table class='table table-striped table-bordered table-condensed'>";
    content = content + "<tr><th>Created</th><td>" + contentCreated + "</td></tr>";
    content = content + "<tr><th>Disaster</th><td>" + contentDisaster + "</td></tr>";
    content = content + "<tr><th>Status</th><td>" + contentStatus + "</td></tr>";
    content = content + "<tr><th>Height</th><td>" + contentHeight + "</td></tr>";
    content = content + "<tr><th>Province</th><td>" + contentProvince  + "</td></tr>";
    content = content + "<tr><th>City</th><td>" + contentCity  + "</td></tr>";
    content = content + "<tr><th>Subdistrict</th><td>" + contentSubdistrict  + "</td></tr>";
    content = content + "<tr><th>Village</th><td>" + contentVillage  + "</td></tr>";
    content = content + "<tr><th>RW</th><td>" + contentRW  + "</td></tr>";
    content = content + "<tr><th>RT</th><td>" + contentRT  + "</td></tr>";
    content = content + "<tr><th>Detail</th><td>" + contentDetail  + "</td></tr>";
    content = content + "<tr><th>Reports</th><td>" + contentReports  + "</td></tr>";
    content = content + "</table>";

    // Use center to put a fixed marker on map
    var marker = L.marker(center, {
      icon: L.icon({
        iconUrl: markerImgPath,
        iconSize: [24, 28],
        iconAnchor: [12, 28],
        popupAnchor: [0, -25]
      }),
      title: popupContent,
      riseOnHover: true
    }).addTo(map);

    layerMarkers.addLayer(marker);

    layer.on({
      click: function(e) {
        $("#feature-title").html(featureName);
        $("#feature-info").html(content);
        $("#featureModal").modal("show");
        if (feature.geometry.type === 'Point') {
          highlight.clearLayers().addLayer(L.circleMarker(center, highlightStyle));
        }
      }
    });

    marker.on({
      click: function(e) {
        $("#feature-title").html(featureName);
        $("#feature-info").html(content);
        $("#featureModal").modal("show");
        highlight.clearLayers().addLayer(L.circleMarker(center, highlightStyle));
      }
    });

    layerGroupSearch.push({
      name: feature.properties.disaster_note,
      location: featureLocation,
      source: layerGroupSearchSource,
      id: L.stamp(layer),
      lat: center.lat,
      lng: center.lng
    });
  }
  // end if (feature.properties)
}
// end drawLayerFeature()

// Event layer switcher trigger and marker layers.
ABRLayer = L.geoJson(null);
ABRMarkers = L.layerGroup();
CEKLayer = L.geoJson(null);
CEKMarkers = L.layerGroup();
BJRLayer = L.geoJson(null);
BJRMarkers = L.layerGroup();
ROBLayer = L.geoJson(null);
ROBMarkers = L.layerGroup();
GMPLayer = L.geoJson(null);
GMPMarkers = L.layerGroup();
KBKLayer = L.geoJson(null);
KBKMarkers = L.layerGroup();
KLBLayer = L.geoJson(null);
KLBMarkers = L.layerGroup();
SOSLayer = L.geoJson(null);
SOSMarkers = L.layerGroup();
LAILayer = L.geoJson(null);
LAIMarkers = L.layerGroup();
LSRLayer = L.geoJson(null);
LSRMarkers = L.layerGroup();
PHTLayer = L.geoJson(null);
PHTMarkers = L.layerGroup();
TERLayer = L.geoJson(null);
TERMarkers = L.layerGroup();
TSULayer = L.geoJson(null);
TSUMarkers = L.layerGroup();

/**
 * Function for initializing all the event layers.
 * @param {string} date - API filter in YYYY-MM-DD format.
 * @param {boolean} all - API filter to show inactive events.
*/
function loadEvents(date, all) {
  var date = typeof date !== 'undefined' ? date : false;
  var all = typeof all !== 'undefined' ? all : false;
  var apiFilter = '';

  var filterInfo = '';
  var showFilterInfoControl = false;

  if (date !== false && date.length) {
    apiFilter = apiFilter + "&date=" + date;
    filterInfo = filterInfo + "<tr><td>Showing events on:</td><td>" + date + "</td></tr>";
    showFilterInfoControl = true;
  }

  if (all !== false) {
    apiFilter = apiFilter + "&all=1";
    filterInfo = filterInfo + '<tr><td>Showing inactive events:</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>';
    showFilterInfoControl = true;
  }

  if (showFilterInfoControl) {
    filterInfoControl = L.control({
      position: "topleft"
    });

    filterInfoControl.onAdd = function(map) {
      var div = L.DomUtil.create("div", "filter-info");
      div.innerHTML = "<table class='table hidden-xs'>" + filterInfo + "</table>";
      return div;
    }

    map.addControl(filterInfoControl);
  } else {
    if (filterInfoControl) {
      map.removeControl(filterInfoControl);
    }
  }

  $("#loading").show();

  ABR = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#00AEFF',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, ABRMarkers, "{% static 'img/markers/ABR.png' %}", ABRSearch, "ABR");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=ABR&format=json" + apiFilter, function(data) {
    ABR.addData(data);
  });

  CEK = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#F07C00',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, CEKMarkers, "{% static 'img/markers/CEK.png' %}", CEKSearch, "CEK");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=CEK&format=json" + apiFilter, function(data) {
    CEK.addData(data);
  });

  BJR = L.geoJson(null, {
    style: function(feature) {
      return {
        color: getColor(feature.properties.height),
        fill: true,
        opacity: 1,
        fillOpacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, BJRMarkers, "{% static 'img/markers/BJR.png' %}", BJRSearch, "BJR");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=BJR&format=json" + apiFilter, function(data) {
    BJR.addData(data);
  });

  ROB = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#128E4D',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, ROBMarkers, "{% static 'img/markers/ROB.png' %}", ROBSearch, "ROB");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=ROB&format=json" + apiFilter, function(data) {
    ROB.addData(data);
  });

  GMP = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#B52DAC',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, GMPMarkers, "{% static 'img/markers/GMP.png' %}", GMPSearch, "GMP");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=GMP&format=json" + apiFilter, function(data) {
    GMP.addData(data);
  });

  KBK = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#BD0404',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, KBKMarkers, "{% static 'img/markers/KBK.png' %}", KBKSearch, "KBK");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=KBK&format=json" + apiFilter, function(data) {
    KBK.addData(data);
  });

  KLB = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#B2B5B1',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, KLBMarkers, "{% static 'img/markers/KLB.png' %}", KLBSearch, "KLB");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=KLB&format=json" + apiFilter, function(data) {
    KLB.addData(data);
  });

  SOS = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#000000',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, SOSMarkers, "{% static 'img/markers/SOS.png' %}", SOSSearch, "SOS");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=SOS&format=json" + apiFilter, function(data) {
    SOS.addData(data);
  });

  LAI = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#FFFF00',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, LAIMarkers, "{% static 'img/markers/LAI.png' %}", LAISearch, "LAI");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=LAI&format=json" + apiFilter, function(data) {
    LAI.addData(data);
  });

  LSR = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#9D7050',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, LSRMarkers, "{% static 'img/markers/LSR.png' %}", LSRSearch, "LSR");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=LSR&format=json" + apiFilter, function(data) {
    LSR.addData(data);
  });

  PHT = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#2DB32D',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, PHTMarkers, "{% static 'img/markers/PHT.png' %}", PHTSearch, "PHT");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=PHT&format=json" + apiFilter, function(data) {
    PHT.addData(data);
  });

  TER = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#FFFF00',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, TERMarkers, "{% static 'img/markers/TER.png' %}", TERSearch, "TER");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=TER&format=json" + apiFilter, function(data) {
    TER.addData(data);
  });

  TSU = L.geoJson(null, {
    style: function(feature) {
      return {
        color: '#28ADAD',
        fill: true,
        opacity: 1,
        clickable: true
      };
    },
    onEachFeature: function(feature, layer) {
      drawLayerFeature(feature, layer, TSUMarkers, "{% static 'img/markers/TSU.png' %}", TSUSearch, "TSU");
    },
  });
  $.getJSON("{% url "reports:event_api" %}?disaster=TSU&format=json" + apiFilter, function(data) {
    TSU.addData(data);
  });

  loadEventSearch();
}
// end loadEvents()

loadEvents();

/* Layer control listeners that allow for a single markerClusters layer */
map.on("overlayadd", function(e) {
  if (e.layer === ABRLayer) {
    markerClusters.addLayer(ABR);
    syncSidebar();
  }

  if (e.layer === CEKLayer) {
    markerClusters.addLayer(CEK);
    syncSidebar();
  }

  if (e.layer === BJRLayer) {
    markerClusters.addLayer(BJR);
    syncSidebar();
  }

  if (e.layer === ROBLayer) {
    markerClusters.addLayer(ROB);
    syncSidebar();
  }

  if (e.layer === GMPLayer) {
    markerClusters.addLayer(GMP);
    syncSidebar();
  }

  if (e.layer === KBKLayer) {
    markerClusters.addLayer(KBK);
    syncSidebar();
  }

  if (e.layer === KLBLayer) {
    markerClusters.addLayer(KLB);
    syncSidebar();
  }

  if (e.layer === SOSLayer) {
    markerClusters.addLayer(SOS);
    syncSidebar();
  }

  if (e.layer === LAILayer) {
    markerClusters.addLayer(LAI);
    syncSidebar();
  }

  if (e.layer === LSRLayer) {
    markerClusters.addLayer(LSR);
    syncSidebar();
  }

  if (e.layer === PHTLayer) {
    markerClusters.addLayer(PHT);
    syncSidebar();
  }

  if (e.layer === TERLayer) {
    markerClusters.addLayer(TER);
    syncSidebar();
  }

  if (e.layer === TSULayer) {
    markerClusters.addLayer(TSU);
    syncSidebar();
  }
});
// end overlayadd

map.on("overlayremove", function(e) {
  if (e.layer === ABRLayer) {
    markerClusters.removeLayer(ABR);
    syncSidebar();
  }

  if (e.layer === CEKLayer) {
    markerClusters.removeLayer(CEK);
    syncSidebar();
  }

  if (e.layer === BJRLayer) {
    markerClusters.removeLayer(BJR);
    syncSidebar();
  }

  if (e.layer === ROBLayer) {
    markerClusters.removeLayer(ROB);
    syncSidebar();
  }

  if (e.layer === GMPLayer) {
    markerClusters.removeLayer(GMP);
    syncSidebar();
  }

  if (e.layer === KBKLayer) {
    markerClusters.removeLayer(KBK);
    syncSidebar();
  }

  if (e.layer === KLBLayer) {
    markerClusters.removeLayer(KLB);
    syncSidebar();
  }

  if (e.layer === SOSLayer) {
    markerClusters.removeLayer(SOS);
    syncSidebar();
  }

  if (e.layer === LAILayer) {
    markerClusters.removeLayer(LAI);
    syncSidebar();
  }

  if (e.layer === LSRLayer) {
    markerClusters.removeLayer(LSR);
    syncSidebar();
  }

  if (e.layer === PHTLayer) {
    markerClusters.removeLayer(PHT);
    syncSidebar();
  }

  if (e.layer === TERLayer) {
    markerClusters.removeLayer(TER);
    syncSidebar();
  }

  if (e.layer === TSULayer) {
    markerClusters.removeLayer(TSU);
    syncSidebar();
  }
});
// end overlayremove

var groupedOverlays = {
  "Affected Areas": {
    "<img src='{% static "img/markers/ABR.png" %}' width='24' height='28'>&nbsp;Abrasi": ABRLayer,
    "<img src='{% static "img/markers/CEK.png" %}' width='24' height='28'>&nbsp;Angin Kencang": CEKLayer,
    "<img src='{% static "img/markers/BJR.png" %}' width='24' height='28'>&nbsp;Banjir": BJRLayer,
    "<img src='{% static "img/markers/ROB.png" %}' width='24' height='28'>&nbsp;Banjir Rob": ROBLayer,
    "<img src='{% static "img/markers/GMP.png" %}' width='24' height='28'>&nbsp;Gempa Bumi": GMPLayer,
    "<img src='{% static "img/markers/KBK.png" %}' width='24' height='28'>&nbsp;Kebakaran": KBKLayer,
    "<img src='{% static "img/markers/KLB.png" %}' width='24' height='28'>&nbsp;Kejadian Luar Biasa": KLBLayer,
    "<img src='{% static "img/markers/SOS.png" %}' width='24' height='28'>&nbsp;Konflik Sosial": SOSLayer,
    "<img src='{% static "img/markers/LAI.png" %}' width='24' height='28'>&nbsp;Lain-lain": LAILayer,
    "<img src='{% static "img/markers/LSR.png" %}' width='24' height='28'>&nbsp;Longsor": LSRLayer,
    "<img src='{% static "img/markers/PHT.png" %}' width='24' height='28'>&nbsp;Pohon Tumbang": PHTLayer,
    "<img src='{% static "img/markers/TER.png" %}' width='24' height='28'>&nbsp;Terorisme": TERLayer,
    "<img src='{% static "img/markers/TSU.png" %}' width='24' height='28'>&nbsp;Tsunami": TSULayer,
  },
};

var layerControl = L.control.groupedLayers(baseLayers, groupedOverlays, {
  collapsed: isCollapsed
}).addTo(map);

/**
 * Function for initializing the event Typeahead search.
*/
function loadEventSearch() {
  /* Typeahead search functionality */
  $(document).one("ajaxStop", function() {
    $("#loading").hide();
    sizeLayerControl();

    //map.fitBounds(BJR.getBounds());

    featureList = new List("features", {
      valueNames: ["feature-name"]
    });
    featureList.sort("feature-name", {
      order:"desc"
    });

    var ABRBH = new Bloodhound({
      name: "ABR",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: ABRSearch,
      limit: 10
    });

    var CEKBH = new Bloodhound({
      name: "CEK",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: CEKSearch,
      limit: 10
    });

    var BJRBH = new Bloodhound({
      name: "BJR",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: BJRSearch,
      limit: 10
    });

    var ROBBH = new Bloodhound({
      name: "ROB",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: ROBSearch,
      limit: 10
    });

    var GMPBH = new Bloodhound({
      name: "GMP",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: GMPSearch,
      limit: 10
    });

    var KBKBH = new Bloodhound({
      name: "KBK",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: KBKSearch,
      limit: 10
    });

    var KLBBH = new Bloodhound({
      name: "KLB",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: KLBSearch,
      limit: 10
    });

    var SOSBH = new Bloodhound({
      name: "SOS",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: SOSSearch,
      limit: 10
    });

    var LAIBH = new Bloodhound({
      name: "LAI",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: LAISearch,
      limit: 10
    });

    var LSRBH = new Bloodhound({
      name: "LSR",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: LSRSearch,
      limit: 10
    });

    var PHTBH = new Bloodhound({
      name: "PHT",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: PHTSearch,
      limit: 10
    });

    var TERBH = new Bloodhound({
      name: "TER",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: TERSearch,
      limit: 10
    });

    var TSUBH = new Bloodhound({
      name: "TSU",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: TSUSearch,
      limit: 10
    });

    var geonamesBH = new Bloodhound({
      name: "GeoNames",
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.whitespace(d.name);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: "http://api.geonames.org/searchJSON?username=bootleaf&featureClass=P&maxRows=5&countryCode=US&name_startsWith=%QUERY",
        filter: function(data) {
          return $.map(data.geonames, function(result) {
            return {
              name: result.name + ", " + result.adminCode1,
              lat: result.lat,
              lng: result.lng,
              source: "GeoNames"
            };
          });
        },
        ajax: {
          beforeSend: function(jqXhr, settings) {
            settings.url += "&east=" + map.getBounds().getEast() + "&west=" + map.getBounds().getWest() + "&north=" + map.getBounds().getNorth() + "&south=" + map.getBounds().getSouth();
            $("#searchicon").removeClass("fa-search").addClass("fa-refresh fa-spin");
          },
          complete: function(jqXHR, status) {
            $('#searchicon').removeClass("fa-refresh fa-spin").addClass("fa-search");
          }
        }
      },
      limit: 10
    });

    ABRBH.initialize();
    CEKBH.initialize();
    BJRBH.initialize();
    ROBBH.initialize();
    GMPBH.initialize();
    KBKBH.initialize();
    KLBBH.initialize();
    SOSBH.initialize();
    LAIBH.initialize();
    LSRBH.initialize();
    PHTBH.initialize();
    TERBH.initialize();
    TSUBH.initialize();
    geonamesBH.initialize();

    /* instantiate the typeahead UI */
    $("#searchbox").typeahead(
      {
        minLength: 3,
        highlight: true,
        hint: false
      },
      {
        name: "ABR",
        displayKey: "name",
        source: ABRBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/ABR.png" %}' width='24' height='28'>&nbsp;Abrasi</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "CEK",
        displayKey: "name",
        source: CEKBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/CEK.png" %}' width='25' height='25'>&nbsp;Angin Kencang</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "BJR",
        displayKey: "name",
        source: BJRBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/BJR.png" %}' width='24' height='28'>&nbsp;Banjir</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "ROB",
        displayKey: "name",
        source: ROBBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/ROB.png" %}' width='24' height='28'>&nbsp;Banjir Rob</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "GMP",
        displayKey: "name",
        source: GMPBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/GMP.png" %}' width='24' height='28'>&nbsp;Gempa Bumi</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "KBK",
        displayKey: "name",
        source: KBKBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/KBK.png" %}' width='24' height='28'>&nbsp;Kebakaran</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "KLB",
        displayKey: "name",
        source: KLBBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/KLB.png" %}' width='24' height='28'>&nbsp;Kejadian Luar Biasa</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "SOS",
        displayKey: "name",
        source: SOSBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/SOS.png" %}' width='24' height='28'>&nbsp;Konflik Sosial</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "LAI",
        displayKey: "name",
        source: LAIBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/LAI.png" %}' width='24' height='28'>&nbsp;Lain-lain</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "LSR",
        displayKey: "name",
        source: LSRBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/LSR.png" %}' width='24' height='28'>&nbsp;Longsor</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "PHT",
        displayKey: "name",
        source: PHTBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/PHT.png" %}' width='24' height='28'>&nbsp;Pohon Tumbang</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "TER",
        displayKey: "name",
        source: TERBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/TER.png" %}' width='24' height='28'>&nbsp;Terorisme</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
      {
        name: "TSU",
        displayKey: "name",
        source: TSUBH.ttAdapter(),
        templates: {
          header: "<h4 class='typeahead-header'><img src='{% static "img/markers/TSU.png" %}' width='24' height='28'>&nbsp;Tsunami</h4>",
          suggestion: function(data) {
            return data.name + '<br><small>' + data.location + '</small>';
          }
        }
      },
    {
      name: "GeoNames",
      displayKey: "name",
      source: geonamesBH.ttAdapter(),
      templates: {
        header: "<h4 class='typeahead-header'><img src='{% static "bootleaf_example/assets/img/globe.png" %}' width='25' height='25'>&nbsp;GeoNames</h4>"
      }
    }).on("typeahead:selected", function(obj, datum) {
      if (datum.source === "ABR") {
        if (!map.hasLayer(ABRLayer)) {
          map.addLayer(ABRLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "CEK") {
        if (!map.hasLayer(CEKLayer)) {
          map.addLayer(CEKLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "BJR") {
        if (!map.hasLayer(BJRLayer)) {
          map.addLayer(BJRLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "ROB") {
        if (!map.hasLayer(ROBLayer)) {
          map.addLayer(ROBLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "GMP") {
        if (!map.hasLayer(GMPLayer)) {
          map.addLayer(GMPLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "KBK") {
        if (!map.hasLayer(KBKLayer)) {
          map.addLayer(KBKLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "KLB") {
        if (!map.hasLayer(KLBLayer)) {
          map.addLayer(KLBLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "SOS") {
        if (!map.hasLayer(SOSLayer)) {
          map.addLayer(SOSLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "LAI") {
        if (!map.hasLayer(LAILayer)) {
          map.addLayer(LAILayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "LSR") {
        if (!map.hasLayer(LSRLayer)) {
          map.addLayer(LSRLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "PHT") {
        if (!map.hasLayer(PHTLayer)) {
          map.addLayer(PHTLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "TER") {
        if (!map.hasLayer(TERLayer)) {
          map.addLayer(TERLayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "TSU") {
        if (!map.hasLayer(TSULayer)) {
          map.addLayer(TSULayer);
        }
        map.setView([datum.lat, datum.lng], 17);
        if (map._layers[datum.id]) {
          map._layers[datum.id].fire("click");
        }
      }
      if (datum.source === "GeoNames") {
        map.setView([datum.lat, datum.lng], 14);
      }
      if ($(".navbar-collapse").height() > 50) {
        $(".navbar-collapse").collapse("hide");
      }
    }).on("typeahead:opened", function() {
      $(".navbar-collapse.in").css("max-height", $(document).height() - $(".navbar-header").height());
      $(".navbar-collapse.in").css("height", $(document).height() - $(".navbar-header").height());
    }).on("typeahead:closed", function() {
      $(".navbar-collapse.in").css("max-height", "");
      $(".navbar-collapse.in").css("height", "");
    });
    $(".twitter-typeahead").css("position", "static");
    $(".twitter-typeahead").css("display", "block");
  });
  // end ajaxStop
}
// end loadEventSearch()

// Leaflet patch to make layer control scrollable on touch browsers
var container = $(".leaflet-control-layers")[0];
if (!L.Browser.touch) {
  L.DomEvent
  .disableClickPropagation(container)
  .disableScrollPropagation(container);
} else {
  L.DomEvent.disableClickPropagation(container);
}
{% endblock %}
