{% extends "disasterrehabilitation/activity_list.html" %}

{% load i18n leaflet_tags verbose_names %}

{% block title %}{{ block.super }} - {{ activity }}{% endblock %}

{% block extra_css %}

{% leaflet_css %}
<style type="text/css">
.tab-content > .tab-pane {
    background-color: #fff;
}
</style>

{% endblock %}

{% block page_content_upper %} {% endblock %}

{% block crumbs %}
{{ block.super }}
<h6 class="page-active">{{ activity }}</h6>
{% endblock %}

{% block page_content %}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#detail">{% trans "Detail" %}</a></li>
    <li><a data-toggle="tab" href="#locations">{% trans "Locations" %}</a></li>
    <li><a data-toggle="tab" href="#references">{% trans "References" %}</a></li>
</ul>

<div class="tab-content">
    <div id="detail" class="tab-pane fade in active">
        <h3 class="page-header heading">{{ activity }}</h3>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th class="col-md-2">{% get_verbose_field_name activity 'created' %}</th>
                    <td>{{ activity.created }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name activity 'name' %}</th>
                    <td>{{ activity.name }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name activity 'type' %}</th>
                    <td>{{ activity.type }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name activity 'start' %}</th>
                    <td>{{ activity.start }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name activity 'end' %}</th>
                    <td>{{ activity.end }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name activity 'agency' %}</th>
                    <td>{{ activity.agency }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name activity 'funding' %}</th>
                    <td>{{ activity.funding }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name activity 'year' %}</th>
                    <td>{{ activity.year }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name activity 'note' %}</th>
                    <td>{{ activity.note }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="locations" class="tab-pane fade">
        <h3 class="page-header heading">{% trans "Locations" %}</h3>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for location in locations|slice:'1' %}
                    <th class="col-md-2">{% get_verbose_field_name location 'province' %}</th>
                    <th class="col-md-2">{% get_verbose_field_name location 'city' %}</th>
                    <th class="col-md-2">{% get_verbose_field_name location 'subdistrict' %}</th>
                    <th class="col-md-1">{% get_verbose_field_name location 'village' %}</th>
                    <th class="col-md-1">{% get_verbose_field_name location 'rw' %}</th>
                    <th class="col-md-1">{% get_verbose_field_name location 'rt' %}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

                <div class="widget-main pull-up">
                    {% leaflet_map "leaflet_locations_map" callback="window.leaflet_locations_map_init" %}
                </div>

                {% for location in locations %}
                <tr>
                    {% if location.province %}
                    <td><a href="{% url 'geolevels:province_detail' location.province.pk %}">{{ location.province }}</td>
                    {% endif %}
                    {% if location.city %}
                    <td><a href="{% url 'geolevels:city_detail' location.city.pk %}">{{ location.city }}</td>
                    {% endif %}
                    {% if location.subdistrict %}
                    <td><a href="{% url 'geolevels:subdistrict_detail' location.subdistrict.pk %}">{{ location.subdistrict }}</td>
                    {% endif %}
                    {% if location.village %}
                    <td><a href="{% url 'geolevels:village_detail' location.village.pk %}">{{ location.village }}</td>
                    {% endif %}
                    {% if location.rw %}
                    <td><a href="{% url 'geolevels:rw_detail' location.rw.pk %}">{{ location.rw }}</td>
                    {% endif %}
                    {% if location.rt %}
                    <td><a href="{% url 'geolevels:rt_detail' location.rt.pk %}">{{ location.rt }}</td>
                    {% endif %}

                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">{% trans "No locations found for this activity." %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="references" class="tab-pane fade">
        <h3 class="page-header heading">{% trans "Referencess" %}</h3>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for reference in references|slice:'1' %}
                    <th class="col-md-2">{% get_verbose_field_name reference 'created' %}</th>
                    <th class="col-md-2">{% get_verbose_field_name reference 'name' %}</th>
                    <th class="col-md-2">{% get_verbose_field_name reference 'year' %}</th>
                    <th class="col-md-2">{% get_verbose_field_name reference 'file' %}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for reference in references %}
                <tr>
                    <td>{{ reference.created }}</a></td>
                    <td>{{ reference.name }}</td>
                    <td>{{ reference.source.file }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">{% trans "No references found for this activity." %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% leaflet_js %}
<script type="text/javascript">
// Global variables of all maps
/**
 * Show the polygon of the affected area in the lowest defined
 * administrative area and display a popup of the event details.
 */

function leaflet_locations_map_init(map, options) {
    locations_map = map;

    {% for location in locations %}
    var popupContent = `
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th class="col-md-2">{% get_verbose_field_name location 'province' %}</th>
                <td>{{ location.province }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name location 'city' %}</th>
                <td>{{ location.city }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name location 'subdistrict' %}</th>
                <td>{{ location.subdistrict }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name location 'village' %}</th>
                <td>{{ location.village }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name location 'rw' %}</th>
                <td>{{ location.rw }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name location 'rt' %}</th>
                <td>{{ location.rt }}</td>
            </tr>
        </tbody>
    </table>
    `;

        {% if location.province %}
        var provinceLayer = L.geoJson({{ location.province.polygon.geojson|safe }}).addTo(map);
        var popupLayer = provinceLayer;
        {% endif %}

        {% if location.city %}
        if (typeof provinceLayer !== 'undefined') {
            map.removeLayer(provinceLayer);
        }
        var cityLayer = L.geoJson({{ location.city.polygon.geojson|safe }}).addTo(map);
        var popupLayer = cityLayer;
        {% endif %}

        {% if location.subdistrict %}
        if (typeof cityLayer !== 'undefined') {
            map.removeLayer(cityLayer);
        }
        var subdistrictLayer = L.geoJson({{ location.subdistrict.polygon.geojson|safe }}).addTo(map);
        var popupLayer = subdistrictLayer;
        {% endif %}

        {% if location.village %}
        if (typeof subdistrictLayer !== 'undefined') {
            map.removeLayer(subdistrictLayer);
        }
        var villageLayer = L.geoJson({{ location.village.polygon.geojson|safe }}).addTo(map);
        var popupLayer = villageLayer;
        {% endif %}

        {% if location.rw %}
        if (typeof villageLayer !== 'undefined') {
            map.removeLayer(villageLayer);
        }
        var rwLayer = L.geoJson({{ location.rw.polygon.geojson|safe }}).addTo(map);
        var popupLayer = rwLayer;
        {% endif %}

        {% if location.rt %}
        if (typeof rwLayer !== 'undefined') {
            map.removeLayer(rwLayer);
        }
        var rtLayer = L.geoJson({{ location.rt.polygon.geojson|safe }}).addTo(map);
        var popupLayer = rtLayer;
        {% endif %}
        popupLayer.bindPopup(popupContent);
    {% endfor %}
}

$("a[href='#locations']").on('shown.bs.tab', function(e) {
    locations_map.invalidateSize();
});

</script>

{% endblock %}
