{% extends "disasterrehabilitation/eventassessment_list.html" %}

{% load i18n leaflet_tags verbose_names common_filters %}

{% block title %}{{ block.super }} - {{ eventassessment.name }}{% endblock %}

{% block extra_css %}
{% leaflet_css %}

<style type="text/css">
.tab-content > .tab-pane {
    background-color: #fff;
}
</style>
{% endblock %}

{% block crumbs %}
{{ block.super }}
<h6 class="page-active">{{ eventassessment.name }}</h6>
{% endblock %}

{% block page_content_upper %}
    <div class="widget-main pull-up">
        {% leaflet_map "leaflet_event_map" callback="window.leaflet_event_map_init" %}
    </div>
{% endblock %}

{% block page_content %}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#detail">{% trans "Detail" %}</a></li>
    <li><a data-toggle="tab" href="#event">{% trans "Event" %}</a></li>
    <li><a data-toggle="tab" href="#locations">{% trans "Locations" %}</a></li>
</ul>

<div class="tab-content">
    <div id="detail" class="tab-pane fade in active">
        <h3 class="page-header heading">{{ eventassessment.name }}</h3>

        <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                  <th class="col-md-2">{% get_verbose_field_name eventassessment 'name' %}</th>
                  <td>{{ eventassessment.name }}</td>
              </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment 'created' %}</th>
                    <td>{{ eventassessment.created|date:"j F Y H:i T" }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment 'file' %}</th>
                    <td>{% if eventassessment.file %}<a href='{{ eventassessment.file.url }}' download>{{ eventassessment.file|filename }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment 'note' %}</th>
                    <td>{{ eventassessment.note }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="event" class="tab-pane fade">
        <h3 class="page-header heading">{{ event }}</h3>

        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th class="col-md-2">{% get_verbose_field_name eventassessment.event 'created' %}</th>
                    <td>{{ eventassessment.event.created|date:"j F Y H:i T" }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'updated' %}</th>
                    <td>{{ eventassessment.event.updated|date:"j F Y H:i T" }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'status' %}</th>
                    <td>{{ eventassessment.event.status }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'disaster' %}</th>
                    <td>{{ eventassessment.event.disaster.note }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'height_min' %}</th>
                    <td>{{ eventassessment.event.height_min }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'height' %}</th>
                    <td>{{ eventassessment.event.height }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'magnitude' %}</th>
                    <td>{{ eventassessment.event.magnitude }}</td>
                </tr>

                {% if eventassessment.event.province %}
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'province' %}</th>
                    <td><a href="{{ event.province.get_absolute_url }}">{{ eventassessment.event.province }}</a></td>
                </tr>
                {% endif %}

                {% if eventassessment.event.city %}
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'city' %}</th>
                    <td><a href="{{ event.city.get_absolute_url }}">{{ eventassessment.event.city }}</a></td>
                </tr>
                {% endif %}

                {% if eventassessment.event.subdistrict %}
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'subdistrict' %}</th>
                    <td><a href="{{ event.subdistrict.get_absolute_url }}">{{ eventassessment.event.subdistrict }}</a></td>
                </tr>
                {% endif %}

                {% if eventassessment.event.village %}
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'village' %}</th>
                    <td><a href="{{ event.village.get_absolute_url }}">{{ eventassessment.event.village }}</a></td>
                </tr>
                {% endif %}

                {% if event.rw %}
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'rw' %}</th>
                    <td><a href="{{ event.rw.get_absolute_url }}">{{ eventassessment.event.rw }}</a></td>
                </tr>
                {% endif %}

                {% if eventassessment.event.rt %}
                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'rt' %}</th>
                    <td><a href="{{ event.rt.get_absolute_url }}">{{ eventasssessment.event.rt }}</a></td>
                </tr>
                {% endif %}

                <tr>
                    <th>{% get_verbose_field_name eventassessment.event 'note' %}</th>
                    <td>{{ eventassessment.event.note }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="locations" class="tab-pane fade">
        <h3 class="page-header heading">{% trans "Locations" %}</h3>

        <div class="mb-20">
            {% leaflet_map "leaflet_locations_map" callback="window.leaflet_locations_map_init" %}
        </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for location in locations|slice:'1' %}
                    <th class="col-count">{% trans "No." %}</th>
                    <th>{% get_verbose_field_name location 'province' %}</th>
                    <th>{% get_verbose_field_name location 'city' %}</th>
                    <th>{% get_verbose_field_name location 'subdistrict' %}</th>
                    <th>{% get_verbose_field_name location 'village' %}</th>
                    <th>{% get_verbose_field_name location 'rw' %}</th>
                    <th>{% get_verbose_field_name location 'rt' %}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{% if location.province %}<a href="{{ location.province.get_absolute_url }}">{{ location.province }}</a>{% else %}{% endif %}</td>
                    <td>{% if location.city %}<a href="{{ location.city.get_absolute_url }}">{{ location.city }}</a>{% else %}{% endif %}</td>
                    <td>{% if location.subdistrict %}<a href="{{ location.subdistrict.get_absolute_url }}">{{ location.subdistrict }}</a>{% else %}{% endif %}</td>
                    <td>{% if location.village %}<a href="{{ location.village.get_absolute_url }}">{{ location.village }}</a>{% else %}{% endif %}</td>
                    <td>{% if location.rw %}<a href="{{ location.rw.get_absolute_url }}">{{ location.rw }}</a>{% else %}{% endif %}</td>
                    <td>{% if location.rt %}<a href="{{ location.rt.get_absolute_url }}">{{ location.rt }}</a>{% else %}{% endif %}</td>
                </tr>
                {% empty %}
                <tr>
                    <td class="text-center">{% trans "No locations found for this event assessment." %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% leaflet_js %}

<script type="text/javascript">
// Global variables of all maps
var event_map, locations_map;

/**
 * Show the polygon of the affected area in the lowest defined
 * administrative area and display a popup of the event details.
 */
function leaflet_event_map_init(map, options) {
    event_map = map;

    {% if eventassessment.event.province %}
    var provinceLayer = L.geoJson({{ eventassessment.event.province.polygon.geojson|safe }}).addTo(map);
    {% endif %}

    {% if eventassessment.event.city %}
    if (typeof provinceLayer !== 'undefined') {
        map.removeLayer(provinceLayer);
    }
    var cityLayer = L.geoJson({{ eventassessment.event.city.polygon.geojson|safe }}).addTo(map);
    {% endif %}

    {% if eventassessment.event.subdistrict %}
    if (typeof cityLayer !== 'undefined') {
        map.removeLayer(cityLayer);
    }
    var subdistrictLayer = L.geoJson({{ eventassessment.event.subdistrict.polygon.geojson|safe }}).addTo(map);
    {% endif %}

    {% if eventassessment.event.village %}
    if (typeof subdistrictLayer !== 'undefined') {
        map.removeLayer(subdistrictLayer);
    }
    var villageLayer = L.geoJson({{ eventassessment.event.village.polygon.geojson|safe }}).addTo(map);
    {% endif %}

    {% if eventassessment.event.rw %}
    if (typeof villageLayer !== 'undefined') {
        map.removeLayer(villageLayer);
    }
    var rwLayer = L.geoJson({{ eventassessment.event.rw.polygon.geojson|safe }}).addTo(map);
    {% endif %}

    {% if eventassessment.event.rt %}
    if (typeof rwLayer !== 'undefined') {
        map.removeLayer(rwLayer);
    }
    var rtLayer = L.geoJson({{ eventassessment.event.rt.polygon.geojson|safe }}).addTo(map);
    {% endif %}

    {% if eventassessment.event.point %}
    var pointLayer = L.geoJson({{ eventassessment.event.point.geojson|safe }}).addTo(map);
    {% endif %}

    var popupContent = `
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th class="col-md-2">{% get_verbose_field_name eventassessment.event 'created' %}</th>
                <td>{{ eventassessment.event.created|date:"j F Y H:i T" }}</td>
            </tr>
            <tr>
                <th class="col-md-2">{% get_verbose_field_name eventassessment.event 'updated' %}</th>
                <td>{{ eventassessment.event.updated|date:"j F Y H:i T" }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'status' %}</th>
                <td>{{ eventassessment.event.status }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'disaster' %}</th>
                <td>{{ eventassessment.event.disaster.note }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'height_min' %}</th>
                <td>{{ eventassessment.event.height_min }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'height' %}</th>
                <td>{{ eventassessment.event.height }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'magnitude' %}</th>
                <td>{{ eventassessment.event.magnitude }}</td>
            </tr>

            {% if eventassessment.event.province %}
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'province' %}</th>
                <td><a href={% url 'geolevels:province_detail' eventassessment.event.province.pk %}>{{ eventassessment.event.province }}</a></td>
            </tr>
            {% endif %}

            {% if eventassessment.event.city %}
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'city' %}</th>
                <td><a href={% url 'geolevels:city_detail' eventassessment.event.city.pk %}>{{ eventassessment.event.city }}</a></td>
            </tr>
            {% endif %}

            {% if eventassessment.event.subdistrict %}
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'subdistrict' %}</th>
                <td><a href="{% url 'geolevels:subdistrict_detail' eventassessment.event.subdistrict.pk %}">{{ eventassessment.event.subdistrict }}</a></td>
            </tr>
            {% endif %}

            {% if eventassessment.event.village %}
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'village' %}</th>
                <td><a href="{% url 'geolevels:village_detail' eventassessment.event.village.pk %}">{{ eventassessment.event.village }}</a></td>
            </tr>
            {% endif %}

            {% if eventassessment.event.rw %}
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'rw' %}</th>
                <td><a href="{% url 'geolevels:rw_detail' eventassessment.event.rw.pk %}">{{ eventassessment.event.rw }}</a></td>
            </tr>
            {% endif %}

            {% if eventassessment.event.rt %}
            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'rt' %}</th>
                <td><a href="{% url 'geolevels:rt_detail' eventassessment.event.rt.pk %}">{{ eventassessment.event.rt }}</a></td>
            </tr>
            {% endif %}

            <tr>
                <th>{% get_verbose_field_name eventassessment.event 'note' %}</th>
                <td>{{ eventassessment.event.note }}</td>
            </tr>
        </tbody>
    </table>
    `;

    var popupLayer;

    if (typeof pointLayer !== 'undefined') {
        var pointBounds = pointLayer.getBounds();
        var pointCenter = pointBounds.getCenter();
        map.panTo(pointCenter);
        map.setZoom(16);
        popupLayer = pointLayer;
    } else if (typeof rtLayer !== 'undefined') {
        map.fitBounds(rtLayer);
        popupLayer = rtLayer;
    } else if (typeof rwLayer !== 'undefined') {
        map.fitBounds(rwLayer);
        popupLayer = rwLayer;
    } else if (typeof villageLayer !== 'undefined') {
        map.fitBounds(villageLayer);
        popupLayer = villageLayer;
    } else if (typeof subdistrictLayer !== 'undefined') {
        map.fitBounds(subdistrictLayer);
        popupLayer = subdistrictLayer;
    } else if (typeof cityLayer !== 'undefined') {
        map.fitBounds(cityLayer);
        popupLayer = cityLayer;
    } else if (typeof provinceLayer !== 'undefined') {
        map.fitBounds(provinceLayer);
        popupLayer = provinceLayer;
    }

    popupLayer.bindPopup(popupContent);
}

function leaflet_locations_map_init(map, options) {
    {% if locations %}
    locations_map = map;
    {% for location in locations %}
    var popupContent = `
    <table class="table table-striped table-bordered">
        <tbody>
            {% if location.province %}
            <tr>
                <th class="col-md-2">{% get_verbose_field_name location 'province' %}</th>
                <td><a href="{% url 'geolevels:province_detail' location.province.pk %}">{{ location.province }}</td>
            </tr>
            {% endif %}
            {% if location.city %}
            <tr>
                <th>{% get_verbose_field_name location 'city' %}</th>
                <td><a href="{% url 'geolevels:city_detail' location.city.pk %}">{{ location.city }}</td>
            </tr>
            {% endif %}
            {% if location.subdistrict %}
            <tr>
                <th>{% get_verbose_field_name location 'subdistrict' %}</th>
                <td><a href="{% url 'geolevels:subdistrict_detail' location.subdistrict.pk %}">{{ location.subdistrict }}</td>
            </tr>
            {% endif %}
            {% if location.village %}
            <tr>
                <th>{% get_verbose_field_name location 'village' %}</th>
                <td><a href="{% url 'geolevels:village_detail' location.village.pk %}">{{ location.village }}</td>
            </tr>
            {% endif %}
            {% if location.rw %}
            <tr>
                <th>{% get_verbose_field_name location 'rw' %}</th>
                <td><a href="{% url 'geolevels:rw_detail' location.rw.pk %}">{{ location.rw }}</td>
            </tr>
            {% endif %}
            {% if location.rt %}
            <tr>
                <th>{% get_verbose_field_name location 'rt' %}</th>
                <td><a href="{% url 'geolevels:rt_detail' location.rt.pk %}">{{ location.rt }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    `;

    {% if location.province %}
    var provinceLayer = L.geoJson({{ location.province.polygon.geojson|safe }}).addTo(map);
    var popupLayer = provinceLayer;
    {% endif %}

    {% if location.city %}
    if (typeof provinceLayer !== 'undefined') {
        map.removeLayer(provinceLayer);
    }
    var cityLayer = L.geoJson({{ location.city.polygon.geojson|safe }}).addTo(map);
    var popupLayer = cityLayer;
    {% endif %}

    {% if location.subdistrict %}
    if (typeof cityLayer !== 'undefined') {
        map.removeLayer(cityLayer);
    }
    var subdistrictLayer = L.geoJson({{ location.subdistrict.polygon.geojson|safe }}).addTo(map);
    var popupLayer = subdistrictLayer;
    {% endif %}

    {% if location.village %}
    if (typeof subdistrictLayer !== 'undefined') {
        map.removeLayer(subdistrictLayer);
    }
    var villageLayer = L.geoJson({{ location.village.polygon.geojson|safe }}).addTo(map);
    var popupLayer = villageLayer;
    {% endif %}

    {% if location.rw %}
    if (typeof villageLayer !== 'undefined') {
        map.removeLayer(villageLayer);
    }
    var rwLayer = L.geoJson({{ location.rw.polygon.geojson|safe }}).addTo(map);
    var popupLayer = rwLayer;
    {% endif %}

    {% if location.rt %}
    if (typeof rwLayer !== 'undefined') {
        map.removeLayer(rwLayer);
    }
    var rtLayer = L.geoJson({{ location.rt.polygon.geojson|safe }}).addTo(map);
    var popupLayer = rtLayer;
    {% endif %}

    popupLayer.bindPopup(popupContent);
    {% endfor %}
    {% endif %}
}

$("a[href='#locations']").on('shown.bs.tab', function(e) {
    locations_map.invalidateSize();
});

</script>

{% endblock %}
