<!DOCTYPE html>

{% load staticfiles i18n %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="black">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{{ SITE_NAME }}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet.markercluster/dist/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet.markercluster/dist/MarkerCluster.Default.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet.locatecontrol/dist/L.Control.Locate.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootleaf_example/assets/css/app.css' %}">

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon-152x152.png' %}">
    <link rel="icon" sizes="196x196" href="{% static 'favicon-196x196.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-icon-container">
            <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
            <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
          </div>
          <a class="navbar-brand" href="#">{{ SITE_NAME }}</a>
        </div>
        <div class="navbar-collapse collapse">
          {% block map_navbar %}{% endblock map_navbar %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div id="container">
      <div id="sidebar">
        <div class="sidebar-wrapper">
          <div class="panel panel-default" id="features">
            <div class="panel-heading">
              <h3 class="panel-title">{% block map_sidebar_title %}{% endblock map_sidebar_title %}
              <button type="button" class="btn btn-xs btn-default pull-right" id="sidebar-hide-btn"><i class="fa fa-chevron-left"></i></button></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-8 col-md-8">
                  <input type="text" class="form-control search" placeholder="Filter" />
                </div>
                <div class="col-xs-4 col-md-4">
                  <button type="button" class="btn btn-primary pull-right sort" data-sort="feature-name" id="sort-btn"><i class="fa fa-sort"></i>&nbsp;&nbsp;Sort</button>
                </div>
              </div>
            </div>
            <div class="sidebar-table">
              <table class="table table-hover" id="feature-list">
                <thead class="hidden">
                  <tr>
                    <th>Icon</th>
                  <tr>
                  <tr>
                    <th>Name</th>
                  <tr>
                  <tr>
                    <th>Chevron</th>
                  <tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="map"></div>
    </div>

    <div id="loading">
      <div class="loading-indicator">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info progress-bar-full"></div>
        </div>
      </div>
    </div>

    {% block map_modal %}{% endblock map_modal %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'handlebars/handlebars.min.js' %}"></script>
    <script src="{% static 'list.js/dist/list.min.js' %}"></script>
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'leaflet.locatecontrol/dist/L.Control.Locate.min.js' %}"></script>
    <script src="{% static 'leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js' %}"></script>
    <!-- <script src="{% static 'bootleaf_example/assets/js/app.js' %}"></script> -->

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
