{% extends "opendims/page.html" %}

{% load staticfiles i18n %}

{% block content %}

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                {% block breadcrumbs %}
                {{ block.super }}
                {% block crumbs %}{% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Here begin Main Content -->
        <div class="col-md-8">
            {% block list_left %}
            <div class="row">
                <div class="col-md-12">
                    {% block list_content %}
                    {% endblock list_content %}
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="load-more-btn">
                      {% block list_content_lower %}
                      {% endblock list_content_lower %}
                    </div>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            {% endblock list_left %}
        </div> <!-- /.col-md-8 -->

        <!-- Here begin Sidebar -->
        <div class="col-md-4">
            {% block list_sidebar %}
            {% endblock list_sidebar %}

            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">Upcoming Events</h4>
                </div> <!-- /.widget-main-title -->
                <div class="widget-inner">
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">Jan</span>
                            <span class="s-date">24</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="event-single.html">Nelson Mandela Memorial Tribute</a></h5>
                            <p class="event-small-meta small-text">Cramton Auditorium 9:00 AM to 1:00 PM</p>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">Jan</span>
                            <span class="s-date">24</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="event-single.html">OVADA Oxford Open</a></h5>
                            <p class="event-small-meta small-text">Posner Center 4:30 PM to 6:00 PM</p>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">
                        <div class="calendar-small">
                            <span class="s-month">Jan</span>
                            <span class="s-date">24</span>
                        </div>
                        <div class="event-small-details">
                            <h5 class="event-small-title"><a href="event-single.html">Filming Objects And Sculpture</a></h5>
                            <p class="event-small-meta small-text">A70 Cyert Hall 12:00 PM to 1:00 PM</p>
                        </div>
                    </div>
                </div> <!-- /.widget-inner -->
            </div> <!-- /.widget-main -->

            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">Photo from Events</h4>
                </div>
                <div class="widget-inner">
                    <div class="gallery-small-thumbs clearfix">
                        <div class="thumb-small-gallery">
                            <a class="fancybox" data-fancybox-group="gallery1" href="images/slide1.jpg" title="Gallery Tittle One">
                                <img src="http://placehold.it/70x70" alt="" />
                            </a>
                        </div>
                        <div class="thumb-small-gallery">
                            <a class="fancybox" data-fancybox-group="gallery1" href="images/slide1.jpg" title="Gallery Tittle Two">
                                <img src="http://placehold.it/70x70" alt="" />
                            </a>
                        </div>
                        <div class="thumb-small-gallery">
                            <a class="fancybox" data-fancybox-group="gallery1" href="images/slide1.jpg">
                                <img src="http://placehold.it/70x70" alt="" />
                            </a>
                        </div>
                        <div class="thumb-small-gallery">
                            <a class="fancybox" data-fancybox-group="gallery1" href="images/slide1.jpg">
                                <img src="http://placehold.it/70x70" alt="" />
                            </a>
                        </div>
                        <div class="thumb-small-gallery">
                            <a class="fancybox" data-fancybox-group="gallery1" href="images/slide1.jpg">
                                <img src="http://placehold.it/70x70" alt="" />
                            </a>
                        </div>
                        <div class="thumb-small-gallery">
                            <a class="fancybox" data-fancybox-group="gallery1" href="images/slide1.jpg">
                                <img src="http://placehold.it/70x70" alt="" />
                            </a>
                        </div>
                        <div class="thumb-small-gallery">
                            <a class="fancybox" data-fancybox-group="gallery1" href="images/slide1.jpg">
                                <img src="http://placehold.it/70x70" alt="" />
                            </a>
                        </div>
                        <div class="thumb-small-gallery">
                            <a class="fancybox" data-fancybox-group="gallery1" href="images/slide1.jpg">
                                <img src="http://placehold.it/70x70" alt="" />
                            </a>
                        </div>
                    </div> <!-- /.galler-small-thumbs -->
                </div> <!-- /.widget-inner -->
            </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-4 -->
    </div> <!-- /.row -->
</div> <!-- /.container -->

{% endblock %}
