{% extends "opendims/opendims_base.html" %}

{% load staticfiles %}

{% block opendims_nav %}
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Login</a></a></li>
    {% endif %}
</ul>
{% endblock %}

{% block opendims_content %}
<div class="container">
    {% block opendims_body %}{% endblock %}
</div><!-- /.container -->
{% endblock %}