{% extends "opendims/base.html" %}

{% load staticfiles leaflet_tags verbose_names %}

{% block opendims_title %} - {{ event }}{% endblock %}

{% block extra_css %}

{% leaflet_css %}

<style>
.leaflet-container {
    height: 400px;
}
</style>

{% endblock %}

{% block opendims_content %}

<div class="page-header">
    <h1>{{ province }}</h1>
</div>

<table class="table table-striped table-bordered table-hover table-condensed">
    <tbody>
        <tr>
          <th>{% get_verbose_field_name province 'note' %}</th>
            <td>{{ province.note }}</td>
        </tr>
    </tbody>
</table>

{% leaflet_map "country_map" callback="window.event_map_init" %}

<div><h1>CITIES</h1></div>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
        {% for city in cities|slice:'1' %}
            <th>{% get_verbose_field_name city 'name' %}</th>
            <th>{% get_verbose_field_name city 'province' %}</th>
            <th>{% get_verbose_field_name city 'note' %}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for city in cities %}
        <tr>
            <td><a href="{% url 'geolevels:city_detail' city.pk  %}">{{ city.name }}</a></td>
            <td>{{ city.province }}</td>
            <td>{{ city.note }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block extra_js %}

{% leaflet_js %}

<script type="text/javascript">
    function event_map_init(map, options) {
      
      L.geoJson({{province.polygon.geojson|safe }}).addTo(map);
    
    }
</script>

{% endblock %}