{% extends "geolevels/geolevels.html" %}

{% load i18n leaflet_tags verbose_names %}

{% block title %}{{ block.super }} - {{ rw }}{% endblock %}

{% block extra_css %}

{% leaflet_css %}

{% endblock %}

{% block main %}

<div class="page-header">
    <h2>{{ rt }} - {{ rt.rw }}</h2>
</div>

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th class="col-md-3">{% get_verbose_field_name rt 'note' %}</th>
            <td>{{ rt.note }}</td>
        </tr>
    </tbody>
</table>

{% leaflet_map "leaflet_map" callback="window.leaflet_map_init" %}

{% endblock %}

{% block extra_js %}

{% leaflet_js %}

<script type="text/javascript">
function leaflet_map_init(map, options) {
    {% if rt %}
    
    var rtLayer = L.geoJson({{ rt.polygon.geojson|safe }}).addTo(map);
    map.fitBounds(rtLayer);
    
    {% endif %}
}
</script>

{% endblock %}
