{% extends "geolevels/geolevels.html" %}

{% load i18n verbose_names %}

{% block title %}{{ block.super }} - {% trans "RTs" %}{% endblock %}

{% block main %}

<div class="page-header">
    <h2>{% trans "RTs" %}</h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            {% for rt in rt_list|slice:'1' %}
            <th class="col-md-3">{% get_verbose_field_name rt 'name' %}</th>
            <th>{% get_verbose_field_name rt 'note' %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for rt in rt_list %}
        <tr>
            <td><a href="{{ rt.get_absolute_url }}">{{ rt.name }}</a></td>
            <td>{{ rt.note }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="text-center">{% trans "No RTs found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
