{% extends "geolevels/geolevels.html" %}

{% load i18n leaflet_tags verbose_names %}

{% block title %}{{ block.super }} - {{ city }}{% endblock %}

{% block extra_css %}

{% leaflet_css %}

{% endblock %}

{% block main %}

<div class="page-header">
    <h2>{{ rw }} - {{ rw.village }}</h2>
</div>

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th class="col-md-3">{% get_verbose_field_name rw 'note' %}</th>
            <td>{{ rw.note }}</td>
        </tr>
    </tbody>
</table>

{% leaflet_map "leaflet_map" callback="window.leaflet_map_init" %}

<h3>{% trans "RTs" %}</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
        {% for rt in rts|slice:'1' %}
            <th class="col-md-3">{% get_verbose_field_name rt 'name' %}</th>
            <th>{% get_verbose_field_name rt 'rw' %}</th>
            <th>{% get_verbose_field_name rt 'note' %}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for rt in rts %}
        <tr>
            <td><a href="{{ rt.get_absolute_url }}">{{ rt.name }}</a></td>
            <td>{{ rt.rw }}</td>
            <td>{{ rt.note }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">{% trans "No RTs found in this RW." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block extra_js %}

{% leaflet_js %}

<script type="text/javascript">
function leaflet_map_init(map, options) {
    {% if rw %}

    var rwLayer = L.geoJson({{ rw.polygon.geojson|safe }}).addTo(map);
    map.fitBounds(rwLayer);

    {% endif %}
}
</script>

{% endblock %}
